<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load icons %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href=”//vjs.zencdn.net/7.0/video-js.min.css” rel=”stylesheet”>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<title>{{item.name}}</Title>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
<link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
        <!-- CSS code from Bootply.com editor -->

<style type="text/css">
            body {
  padding-top: 51px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  width: 58px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 20px;
  position: fixed;
  left:5px;
}
#sidebar .nav {
  width: 99%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

#sidebar {
    padding-top:0;
  }

.col-xs-6.col-sm-4.thumbnail{
    width:30%;
    background:#;
    border:1px solid black;
    padding:1px 1px;
    margin: 5px;}

.row {
  margin-right: 0px;
  margin-left: -15px;
}
</style>
</head>
<body>
        <div class="page-container">
	<!-- top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
    	<div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Gallery 3</a>
    	</div>
       </div>
    </div>

    <div class="container" style="width:95%">
      <div class="row">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3" id="sidebar" role="navigation">
            <div class="pagination">
                <p align=center><a href="{{ up_uri }}?page=1&sort={{sort}}">{% icon 'arrow-up fa-2x' %}</a></p>
                <br>
                <a href="/view_item/{{first}}?sort={{sort}}">
                    <p align=center>{% icon 'angle-double-left fa-3x' %}</a>
                <br>
                <span class="step-links">
                    {% if previous %}
                        <a href="/view_item/{{ previous }}?sort={{sort}}">
                            <p align=center>{% icon 'angle-left fa-3x' %}</a>
                    {% else %}
                            <img width="70%" height="50%" src="/resources/images/gtk_media_empty.png"/>
                    {% endif %}
                </span>
                <br>
                    <span class="current">
                        <center>Page<br>{{ page }}<br>of<br>{{ pagecount }}.</center>
                    </span>
                <br>

                    {% if next %}
                        <a href="/view_item/{{ next }}?sort={{sort}}">
                            <p align=center>{% icon 'angle-right fa-3x' %}</a>

                    {% else %}
                            <img width="70%" height="50%" src="/resources/images/gtk_media_empty.png"/>
                    {% endif %}
                <br>
                {% if next %}
                    <a href="/view_item/{{ next }}?sort={{sort}}" target="_blank">
                    <p align=center>{% icon 'external-link fa-3x' %}</a></p>
                {% endif %}
                <a href="/view_item/{{ last }}?sort={{sort}}">
                            <p align=center>{% icon 'angle-double-right fa-3x' %}</a>
                <a href="/download/{{item.uuid}}">
                <p align=center>{% icon 'arrow-down fa-3x' %}</a>

                </span>
                <br>
                    <form action="/view_item/{{ item.uuid }}" method="GET">
                    {% csrf_token %}
                        <input type="hidden" id="page" name="page" value="{{page}}">
                        <select name="sort" onchange='this.form.submit()'>
                            <option value="0" {% if sort == 0 %}selected{% endif %}>A..Z</option>
                            <option value="1" {% if sort == 1 %}selected{% endif %}>LastM</option>
                            <option value="2" {% if sort == 2 %}selected{% endif %}>CTime</option>
                        </select>
            </div>
        </div>

<!-- main area -->
        {% if mobile == True %}
            <img class="lazy" src="/resources/images/loading17.gif" data-src="/thumbnails/{{ item.uuid }}?size=medium{% if item.is_pdf %}&pdf{% elif item.is_archive %}&arch{% else%}{% endif %}" style="height:auto;max-width:100%;"/>
        {% else %}
            <img class="lazy" src="/resources/images/loading17.gif" data-src="/thumbnails/{{ item.uuid }}?size=large{% if item.is_pdf %}&pdf{% elif item.is_archive %}&arch{% else%}{% endif %}" style="height:auto;max-width:100%;"/>
        {% endif %}

         <div class="container-fluid" style="margin-left: 50px;border: 1px solid;width=100%;left-pad:2px;right-pad:2px;background:#b0e2ff;">
             <center><table><tr><Td width="25%"><b>{{webpath}}/</b></td><td width="70%"><center>{{ item.name|wordwrap:60|linebreaksbr }}</b></center></td></tr></table>
                <div class="row">
                        <div class="thumbnail" style="background:{{ pagelist.0.4 }};">
                            <center>
                            {% if item.filetype.is_pdf %}
                                <img class="lazy" src="/resources/images/loading17.gif" data-src="/thumbnails/{{ item.uuid }}?size={{size}}&pdf" style="height:auto;max-width:100%;"/>
                            {% endif %}
                            {% elif item.filetype.is_image %}
                                {% if not item.is_animated %}
                                        {% if mobile == True %}
                                            <img class="lazy" src="/resources/images/loading17.gif" data-src="/thumbnails/{{ item.uuid }}?size=medium{% if item.is_pdf %}&pdf{% elif item.is_archive %}&arch{% else%}{% endif %}" style="height:auto;max-width:100%;"/>
                                        {% else %}
                                            <img class="lazy" src="/resources/images/loading17.gif" data-src="/thumbnails/{{ item.uuid }}?size=large{% if item.is_pdf %}&pdf{% elif item.is_archive %}&arch{% else%}{% endif %}" style="height:auto;max-width:100%;"/>
                                        {% endif %}
                                {% else %}
                                        <img class="lazy" src="/resources/images/loading17.gif" data-src="/download/{{ item.uuid }}" style="height:auto;max-width:100%;"/>
                                {% endif %}
                            {% endif %}
                            {% if item.filetype.fileext == ".html" %}
                            <div align=left>
                                {{ html | safe}}
                            </div>
                            {% endif %}
                            {% if item.filetype.is_movie %}
 <video class="video-js" data-setup='{}' controls>
  <source src="/download/{{ item.uuid }}" type="video/mp4">
</video>
                            {% endif %}
                                <br>
                                {% if item.numdirs != None and item.numdirs != 0%}
                                    <b># of Dirs: </b>{{ item.numdirs }}<br>
                                {% endif %}

                                {% if item.numfiles != None and item.numfiles != 0 %}
                                    <b># of Files: </b>{{ item.numfiles }}<br>
                                {% endif %}
                                {% if item.size != None and item.size != 0 %}
                                    <b>File Size: </b>{{ item.size }}<br>
                                {% endif %}
                                <b>Last Modified: </b>{{ last_mod }}<br>
                                UUID: {{item.uuid}}
                            </center>
                        </div> <!--- Thumbnail --->
            </div>


        </div><!-- /.col-xs-12 main -->
                    </div><!--/.row-->
                  </div><!--/.container-->
                </div><!--/.page-container-->
                      </center>



<script>

var current_offset = 0
var next_offset = current_offset + 1
var previous_offset = current_offset - 1

function docWrite(variable) {
    document.write(variable);
}



$(function() {
        $('img.lazy').lazy({
            delay: 0,
            visibleOnly: true
        });
    });
</script>
    </body>
</html>
