{% extends 'base.jinja' %}

{% block body_attrs %} id="entire_document" hx-history="false"{% endblock %}

{% block content %}
<title>{{ gallery_name }}</title>

{% include 'frontend/favorites/favorites_listing_partial.jinja' %}
{% endblock %}
