{# Item View Sidebar - Uses unified pagination sidebar component #}

{% set show_page_selector = false %}
{% set show_next_tab = true %}
{% set show_download = true %}

{% set up_url = up_uri ~ "?page=" ~ page_locale ~ "&sort=" ~ sort %}
{% set first_url = "/view_item/" ~ first_sha ~ "?sort=" ~ sort %}
{% set prev_url = ("/view_item/" ~ previous_sha ~ "?sort=" ~ sort) if previous_sha else None %}
{% set next_url = ("/view_item/" ~ next_sha ~ "?sort=" ~ sort) if next_sha else None %}
{% set next_new_tab_url = "/view_item/" ~ next_sha ~ "?sort=" ~ sort ~ "&newwin=True" if next_sha else None %}
{% set last_url = "/view_item/" ~ last_sha ~ "?sort=" ~ sort %}

{% include 'components/pagination_sidebar.jinja' %}
