    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url('home') }}">
                <img src="/resources/images/open_folder_yellow.png"0>
            </a>
        </div>
    
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Name
                </a>
                <a class="navbar-item">
                    File
                </a>
                <a class="navbar-item" href="javascript:window.print()">
                    Print
                </a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item">
                    <form>
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" placeholder="Title">
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-link">Search</button>
                            </div>
                        </div>
                    </form>
                </div>  <!-- Navbar Item -->
            </div>  <!-- Navbar End -->
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {% if user.username == '' %}
                        {{ icon("users fa-2x")}}
                  {% else %}
                        {{ user.username }}
                  {% endif %}
                </a>
                <div class="navbar-dropdown is-boxed is-right">
                    <a class="navbar-item" href="/Admin">Administrator Access</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/Admin/password_change">Password Change</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/Admin/logout">Logout</a>
                </div>
            </div>
    
        </div> <!-- Navbar Menu -->
    </nav>
