{% autoescape off %}
<!-- Force document title update if HTMX partial -->
{% if request.htmx %}
<div data-page-title="{{ filename }}" style="display:none;"></div>
{% endif %}

{% include 'frontend/item/gallery_htmx_menu.jinja' %}
{% include 'frontend/item/gallery_htmx_sidebar.jinja' %}
{% include 'frontend/item/gallery_htmx_image.jinja' %}
{% endautoescape %}