{% autoescape off %}
<!-- Force document title update if HTMX partial -->
{% if request.htmx %}
<script>
document.title = '{{ filename }}'
</script>
{% endif %}

{% include 'frontend/item/gallery_htmx_menu.jinja' %}
<aside id="sidebar">
{% include 'frontend/item/gallery_htmx_sidebar.jinja' %}
</aside>
<section id="image_block">
{% include 'frontend/item/gallery_htmx_image.jinja' %}
</section>
{% endautoescape %}