{# Item View Partial - HTMX Content Only #}
{% from 'macros/htmx.jinja' import show_partial_wrapper %}

{% call show_partial_wrapper(show_title_update=True, title=filename, request=request) %}
{% include 'components/navbar.jinja' %}
{% include 'frontend/item/gallery_htmx_sidebar.jinja' %}
{% include 'frontend/item/gallery_htmx_image.jinja' %}
{% endcall %}