<!-- nav controls / left sidebar -->
<sidebar id="sidebar">
<div class="container is-11" style="margin-left:0px;padding-left:2px;padding-right:2px;">
        <div class="columns">
            <div hx-boost="true" class="column is-mobile is-1 is-narrow" style="border:2px solid black;position: fixed;width:85px;">
                <p align=center>
                    <a href="{{ up_uri }}?page={{page_locale}}&sort={{sort}}" id="up_uri" style="opacity:1;" hx-swap="outerHTML">{{ icon("arrow-up fa-2x")}}</a><p>

                    <hr style="padding:2px;margin:2px">

                    {% if previous_uuid %}
                        <p align=center>
                        <a href="/view_item/{{ first_uuid }}?sort={{sort}}" id="first_uuid" hx-swap="outerHTML">
                        {{ icon("angle-double-left fa-3x")}}</a></p>
                        <hr style="padding:2px;margin:2px">
                        <p align=center id="previous_icon">
                        <a href="/view_item/{{ previous_uuid }}?sort={{sort}}" id="previous_uuid" hx-swap="outerHTML">
                        {{ icon("angle-left fa-3x")}}</a></p>
                    {% else %}
                        <p align=center>
                        {{ icon("angle-double-left fa-3x")}}</p>
                        <hr style="padding:2px;margin:2px">
                        <p align=center id="previous_icon">
                        {{ icon("angle-left fa-3x")}}</p>
                    {% endif %}
                    <hr style="padding:2px;margin:2px">
                    <center>
                        <p id="pages">Page <br>
                        {{ page }}
                        <br> of
                        <br> {{ pagecount }}
                        </center>
                    <hr style="padding:2px;margin:2px">

                    {% if next_uuid %}
                        <p align=center>
                        <a href="/view_item/{{ next_uuid }}?sort={{sort}}" id="next_uuid" hx-swap="outerHTML">
                        {{ icon("angle-right fa-3x")}}</a></p>
                        <hr style="padding:2px;margin:2px">
                        <p align=center hx-boost="false">
                        <a href="/view_item/{{ next_uuid }}?sort={{sort}}&newwin=True" hx-boost="false" id="next_tab_uuid" target="_blank" hx-swap="outerHTML">
                        {{ icon('fas fa-external-link-alt fa-3x') }}</a></p>
                        <hr style="padding:2px;margin:2px">
                        <p align=center>
                        <a href="/view_item/{{ last_uuid }}?sort={{sort}}" id="last_uuid" hx-swap="outerHTML">
                                {{ icon("angle-double-right fa-3x")}}</a></p>
                    {% else %}
                        <p align=center>
                        {{ icon("angle-right fa-3x")}}</a></p>
                        <hr style="padding:2px;margin:2px">
                        <p align=center>
                        {{ icon('fas fa-external-link-alt fa-3x') }}</p>
                        <hr style="padding:2px;margin:2px">
                        <p align=center>
                        {{ icon("angle-double-right fa-3x")}}</a></p>
                    {% endif %}
                    <hr style="padding:2px;margin:2px">
                    <p align=center>
                    <a href="{{ download_uri }}"  hx-boost="false" id="download_uri">
                    {{ icon('arrow-down fa-3x') }}</a></p>

                    <hr style="padding:2px;margin:2px">
                    <center>
                        <form action="" method="GET">
                            <input type="hidden" id="page" name="page" value="{{current_page}}">
                            <select name="sort" onchange='this.form.submit()'>
                                <option value="0" {% if sort == 0 %}selected{% endif %}>A..Z</option>
                                <option value="1" {% if sort == 1 %}selected{% endif %}>LastM</option>
                                <option value="2" {% if sort == 2 %}selected{% endif %}>CTime</option>
                            </select>
                        </form></center>
            </div>
        </sidebar>
