{% autoescape off %}
<nav hx-boost="true" class="breadcrumb is-small breadcrumb-compact" aria-label="breadcrumbs">
    <ul>
        {%- if breadcrumbs|length > 4 -%}
            {# Show first breadcrumb #}
            <li><a href='{{breadcrumbs[0].url}}'
                   hx-get='{{breadcrumbs[0].url}}'
                   hx-push-url="true"
                   hx-target="body"
                   hx-swap="outerHTML transition:true"
                   hx-headers='{"Cache-Control": "max-age=300"}'>{{breadcrumbs[0].name}}</a></li>

            {# Show middle breadcrumbs as "..." #}
            {%- for breadcrumb in breadcrumbs[1:-3] -%}
                <li><a href='{{breadcrumb.url}}'
                       hx-get='{{breadcrumb.url}}'
                       hx-push-url="true"
                       hx-target="body"
                       hx-swap="outerHTML transition:true"
                       hx-headers='{"Cache-Control": "max-age=300"}'>...</a></li>
            {%- endfor -%}

            {# Show last 3 breadcrumbs #}
            {%- for breadcrumb in breadcrumbs[-3:] -%}
                <li><a href='{{breadcrumb.url}}'
                       hx-get='{{breadcrumb.url}}'
                       hx-push-url="true"
                       hx-target="body"
                       hx-swap="outerHTML transition:true"
                       hx-headers='{"Cache-Control": "max-age=300"}'>{{breadcrumb.name}}</a></li>
            {%- endfor -%}
        {%- else -%}
            {# Show all breadcrumbs normally if 4 or fewer #}
            {%- for breadcrumb in breadcrumbs -%}
                <li><a href='{{breadcrumb.url}}'
                       hx-get='{{breadcrumb.url}}'
                       hx-push-url="true"
                       hx-target="body"
                       hx-swap="outerHTML transition:true"
                       hx-headers='{"Cache-Control": "max-age=300"}'>{{breadcrumb.name}}</a></li>
            {%- endfor -%}
        {%- endif -%}
        <li class="is-active">
            <B>{{ gallery_name|wordwrap(width=50,break_long_words=True) }}</B>
        </li>
    </ul>
</nav>
{% endautoescape %}