{# Error Modal Component - Displays server errors to users #}
<div id="error-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <article class="message is-danger">
                <div class="message-header">
                    <p>Error</p>
                </div>
                <div class="message-body">
                    <div id="error-message-content">An unexpected error occurred.</div>
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
