{% autoescape off %}
<div class="column is-10 is-gapless is-centered filetype-bg filetype-main-container">

    {% include 'components/breadcrumb.jinja' %}

    {% include 'components/title_display.jinja' %}

    <div class="container filetype-content-container" width="98%">
        <div hx-boost="true">
            {{ content }}
        </div>
    </div>
</div>

<script data-title-update>
    // Update CSS custom property for filetype color
    if (window.QuickBBSUtils && '{{ filetype.color }}') {
        window.QuickBBSUtils.updateFiletypeColor('{{ filetype.color }}');
    }
    // Update document title
    document.title = '{{ title_text }}';
</script>
{% endautoescape %}