<div class="column is-10 is-gapless is-centered filetype-bg filetype-main-container">

    {% include 'components/breadcrumb.jinja' %}

    {% include 'components/title_display.jinja' %}

    <div class="container filetype-content-container" width="98%">
        <div>
            {{ content|safe }}
        </div>
    </div>
</div>

<title>{{ title_text }}</title>