{% autoescape off %}
<div class="has-text-centered title-centered">
    <span class="is-size-5 has-text-weight-bold title-text" id="title">
           {{ gallery_name }}
    </span>
</div>
{% endautoescape %}