{% autoescape off %}
<div style="text-align: center; margin: 5px 0;">
    <font size=+1>
        <b id="title" style="color: black !important;
                           max-width: 60vw;
                           display: inline-block;
                           word-wrap: break-word;
                           word-break: break-word;
                           overflow-wrap: break-word;
                           white-space: normal;
                           hyphens: auto;
                           line-height: 1.2;
                           text-align: center;">
           {{ gallery_name }}
        </b>
    </font>
</div>
{% endautoescape %}