{% autoescape off %}
<div class="has-text-centered" style="margin: 5px 0;">
    <span class="is-size-5 has-text-weight-bold" id="title" style="color: black !important;
                           max-width: 60vw;
                           display: inline-block;
                           word-wrap: break-word;
                           word-break: break-word;
                           overflow-wrap: break-word;
                           white-space: normal;
                           hyphens: auto;
                           line-height: 1.2;
                           text-align: center;">
           {{ gallery_name }}
    </span>
</div>
{% endautoescape %}