{% extends 'frontend/gallery_base.jinja' %}

{% block content %}
<!-- sidebar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1" id="sidebar" role="navigation" style="padding-right:0 padding-left:0">  <!-- Sidebar start -->
            <div class="row pagination "><a href="{{ up_uri }}?page=1&sort={{sort}}">{{ icon("arrow-up fa-2x")}}</a></div>
            <hr>
            <div class="row "><a href="?page=1">{{ icon("angle-double-left fa-3x") }}</a></div>
            <hr>
            <div class="row ">
                {% if pagelist.has_previous() %}
                    <a href="?page={{ pagelist.previous_page_number() }}&sort={{sort}}">
                    {{ icon("angle-left fa-3x")}}</a>
                {% else %}
                    <img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/>
                {% endif %}
                <hr><center>
                <form action="?" method="GET">
                    <input type="hidden" id="sort" name="sort" value="{{sort}}">
                        Page
                    <select name="page" onchange='this.form.submit()'>
                        {% for pagecnt in page_cnt %}
                            {% set current_page = pagecnt %}
                            <option value="{{pagecnt}}" {% if pagecnt == pagelist.number %}selected{% endif %}>{{pagecnt}}</option>
                        {% endfor %}
                    </select><br>
                    of {{ pagelist.paginator.num_pages }}.
                </form></center>
            </div>
            <hr>
            <div class="row ">
                {% if pagelist.has_next() %}
                    <a href="?page={{ pagelist.next_page_number() }}&sort={{sort}}">{{ icon("angle-right fa-3x")}}</a>
                {% else %}
                    <img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/>
                {% endif %}
            </div>
            <hr>
            <div class="row "><a href="?page={{ pagelist.paginator.num_pages }}&sort={{sort}}">{{ icon("angle-double-right fa-3x")}}</a></div>
            <hr>
            <div class="row ">
                <form action="?" method="GET">
                    {% csrf_token %}
                    <input type="hidden" id="page" name="page" value="{{current_page}}">
                    <select name="sort" onchange='this.form.submit()'>
                        <option value="0" {% if sort == 0 %}selected{% endif %}>A..Z</option>
                        <option value="1" {% if sort == 1 %}selected{% endif %}>LastM</option>
                        <option value="2" {% if sort == 2 %}selected{% endif %}>CTime</option>
                    </select>
                </form>
            </div>
            <hr>
        </div>  <!-- End sidebar -->
<!-- main area -->

                    <div class="col-xs-5  text-wrap" style="width: 24rem;">
                            {% for name, url, link in breadcrumbs %}
                                <a href='{{url}}'>{{name}}</a> ->
                            {% endfor %}
                            <b>{{ gallery_name|wordwrap(width=50,break_long_words=True) }}</b>
                    </div>
                    <div class="col-xs-3 text-wrap" style="width: 12rem;">
                        {% if prev_uri not in ["", None] %}
                            <a href="{{ prev_uri }}?sort={{sort}}">
                                {{ icon("angle-left fa-1x")}}
                                {{ prev_uri[:30]|wordwrap(width=25,break_long_words=True) }}</a>
                        {% endif %}
                    </div>
                    <div class="col-xs-3 text-wrap" style="width: 12rem;">
                            {% if next_uri not in ["", None] %}
                             <a href="{{ next_uri }}?sort={{sort}}">
                            {{ icon("angle-right fa-1x")}}
                            {{ next_uri[:30]|wordwrap(width=25,break_long_words=True)  }}</a>
                            {% endif %}
                    </div>

                    <div class="w-100"></div>


                    {%- for item in pagelist -%}
                        <div class="col-xs-3" style="border:1px solid black;background:#bFF2ff;">
                            <div valign=top>
                                <center>
                                    {{ loop.index }}
                                </center>
                            </div>
                            <div valign=center class="text-wrap" style="width: 12rem;">
                                <center>
        <!--                        Setup the color for the item box and hyperlink into the box -->
                                    {% if item.filetype.is_movie %}<a href="{{ url('new_viewitem', args=[item.uuid]) }}?sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">
                                    {% elif item.filetype.is_dir %}<a href="{{ webpath }}{{ item.name }}?page=1&sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">
                                    {% elif item.filetype.is_archive %}<a href="{{ url('new_view_archive', args=[item.uuid]) }}?sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">
                                    {% elif item.filetype.is_image or item.filetype.is_pdf %}<a href="{{ url('new_viewitem', args=[item.uuid]) }}?sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">
                                    {% else %}<a href="{{ url('new_viewitem', args=[item.uuid]) }}?sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">
                                    {% endif %}

        <!--            The Item title           -->
                                    {{ item.name|wordwrap(width=24, break_long_words=True,break_on_hyphens=True)}}
                                    <br>
<!--            Display the thumbnail           -->

                                            {% if item.filetype.is_dir %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ url('thumbnailspath') }}{{ item.uuid }}?size=small" class="img-responsive" style="width:auto;max-width:50%"/>
                                            {% elif item.filetype.is_pdf %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ url('thumbnailspath') }}{{ item.uuid }}?pdf&size=small" class="img-responsive" style="width:auto;max-width:50%"/>
                                            {% elif item.filetype.is_archive %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ url('thumbnailspath') }}{{ item.uuid }}?arch=0&size=small" class="img-responsive" style="width:auto;max-width:50%"/>
                                            {% elif item.filetype.is_image  or item.filetype.is_movie %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ url('thumbnailspath') }}{{ item.uuid }}?size=small" class="img-responsive" style="width:auto;max-width:50%"/>
                                            {% else %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="/resources/images/{{ item.filetype.icon_filename }}" class="img-responsive" style="width:auto;max-width:50%"/>
                                            {% endif -%}
                                            </a>

                            </div>
                        </div>
                        {% if loop.index is divisibleby 3 %}
                            <div class="w-100"></div>
    <!--
                                    </div> <div class="row" style="margin-left: 0px;margin-right:0px;border: 0px solid;padding-left:2px;padding-right:2px;">
    -->
                        {% endif %}
                    {%- endfor %}
                </div> <!-- Row -->
            </div> <!-- Container -->
<script >
$(function($) {
    $("img.lazy").Lazy({
    scrollDirection: 'vertical',
        effect: 'fadeIn',
        visibleOnly: true,
        delay: 300,
        threshold: 200,
        combined: true
});
});
</script>
{% endblock %}
