aiofile==3.8.8
aiopath==0.6.11
annotated-types==0.6.0
anyio==4.2.0
asgiref==3.7.2
astroid==3.0.2
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
autopep8==2.0.4
av==11.0.0
beautifulsoup4==4.12.2
black==23.12.1
cachetools==5.3.2
caio==0.9.13
Cerberus==1.3.5
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
cryptography==41.0.7
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dhash==1.4
dill==0.3.7
distlib==0.3.8
Django==5.0
django-allauth==0.59.0
django-auth==0.1.9
django-db-pooling==0.0.4
django-debug-toolbar==4.2.0
django-extensions==3.2.3
django-grappelli==3.0.8
django-icons==22.1
django-jinja==2.11.0
django-ranged-fileresponse @ git+https://github.com/devmonkey22/django-ranged-fileresponse@b8f8136149380b7f90e20d4fd103bfbb42c48d37
django-rest-framework==0.1.0
django-storages==1.14.2
django-upgrade==1.15.0
django-user-agents==0.4.0
djangorestframework==3.14.0
dnspython==2.4.2
docopt==0.6.2
dparse==0.6.3
exceptiongroup==1.2.0
exceptiongroups==0.0.0a0
fastnumbers==5.1.0
flake8==6.1.0
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
httptools==0.6.1
idna==3.6
ifaddr==0.2.0
ImageHash==4.3.1
imageio==2.33.1
imageio-ffmpeg==0.4.9
importlib-metadata==7.0.1
iniconfig==2.0.0
install==1.3.5
isort==5.13.2
Jinja2==3.1.2
lazy-object-proxy==1.10.0
lxml==5.0.0
Markdown==3.5.1
markdown-it-py==3.0.0
markdown2==2.4.12
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
moviepy==1.0.3
mypy==1.8.0
mypy-extensions==1.0.0
numpy==1.26.2
oauthlib==3.2.2
orjson==3.9.10
packaging==23.2
pathspec==0.12.1
pathvalidate==3.2.0
pdfrw==0.4
pep517==0.13.1
Pillow==10.1.0
pip-api==0.0.30
pipreqs==0.4.13
platformdirs==4.1.0
plette==0.4.4
pluggy==1.3.0
proglog==0.1.10
psycopg==3.1.16
psycopg-c==3.1.16
psycopg-pool==3.2.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydot==1.4.2
pyflakes==3.1.0
Pygments==2.17.2
pygraphviz==1.11
PyJWT==2.8.0
pylint==3.0.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
pyparsing==3.1.1
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3.post1
pyupgrade==3.15.0
PyWavelets==1.5.0
PyYAML==6.0.1
rarfile==4.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
requirementslib==3.0.0
rich==13.7.0
scipy==1.11.4
shortuuid==1.0.11
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
tokenize-rt==5.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
tqdm==4.66.1
types-Pillow==10.1.0.2
typing_extensions==4.9.0
ua-parser==0.18.0
urllib3==2.1.0
user-agents==2.2.0
uvicorn==0.25.0
uvloop==0.19.0
uWSGI==2.0.23
watchdog==3.0.0
watchfiles==0.21.0
webencodings==0.5.1
websockets==12.0
wrapt==1.16.0
xattr==1.0.0
yarg==0.1.9
zipp==3.17.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
