anyio==3.3.1
appdirs==1.4.4
asgiref==3.4.1
astroid==2.8.0
asttokens==2.0.5
autopep8==1.5.7
av==8.0.3
black==21.5b1
bleach==4.1.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.5
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
cryptography==3.4.8
Cython==0.29.24
defusedxml==0.7.1
Django==3.2.16
django-allauth==0.45.0
django-auth==0.1.9
django-bootstrap3==15.0.0
django-db-pooling==0.0.4
django-debug-toolbar==3.2.2
django-doctor==2.5.0
django-grappelli==2.15.1
django-icons==3.0.0
django-ranged-response==0.2.0
django-user-agents==0.4.0
dnspython==2.1.0
dparse==0.5.1
entrypoints==0.3
eventlet==0.32.0
fastnumbers==3.1.0
flake8==3.9.2
gevent==21.8.0
gprof2dot==2021.2.21
greenlet==1.1.1
gunicorn==20.1.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hstspreload==2021.9.1
httpcore==0.13.7
httptools==0.3.0
httpx==0.19.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.2
ifaddr==0.1.7
ImageHash==4.2.1
img2pdf==0.4.1
importlib-metadata==4.8.1
isort==5.9.3
Jinja2==3.0.1
lazy-object-proxy==1.6.0
libcst==0.3.20
lxml==4.9.1
Markdown==3.3.4
markdown2==2.4.1
MarkupSafe==2.0.1
mccabe==0.6.1
monotonic==1.6
mypy-extensions==0.4.3
mysql-client==0.0.1
natsort==7.1.1
naturalsort==1.5.1
nudepy==0.5.1
numpy==1.21.2
oauthlib==3.1.1
packaging==21.0
pathlib2==2.3.6
pathspec==0.9.0
pathtools==0.1.2
pathvalidate==2.4.1
pdf2image==1.16.0
pdfrw==0.4
pikepdf==3.0.0
Pillow==9.0.1
pip-upgrade-tool==0.5.2
pipdeptree==2.1.0
platformdirs==2.3.0
protobuf==3.18.0
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.10.0
PyJWT==2.1.0
pylint==2.11.1
pylint-django==2.4.4
pylint-plugin-utils==0.6
PyMuPDF==1.18.19
pyparsing==2.4.7
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
rarfile==4.0
regex==2021.8.28
requests==2.26.0
requests-oauthlib==1.3.0
rfc3986==1.5.0
rich==10.9.0
scandir==1.10.0
scipy==1.7.1
sh==1.14.2
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
toml==0.10.2
typed-ast==1.4.3
typing==3.7.4.3
typing-extensions==3.10.0.2
typing-inspect==0.7.1
ua-parser==0.10.0
Unidecode==1.3.2
urllib3==1.26.6
user-agents==2.2.0
uvicorn==0.15.0
uvloop==0.16.0
watchdog==2.1.5
webencodings==0.5.1
wrapt==1.12.1
xattr==0.9.7
zeroconf==0.36.4
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
