configparser==3.5.0
directory-caching==1.12
Django==1.11.11
django-allauth==0.35.0
django-bootstrap3==9.1.0
django-debug-toolbar==1.9.1
django-jinja==2.4.1
fastnumbers==2.0.2
Jinja==1.2
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
natsort==5.2.0
oauthlib==2.0.7
passlib==1.7.1
pathlib2==2.3.0
Pillow==5.0.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
PyMuPDF==1.12.5
python-openid==2.2.5
python-thumbnails==0.5.1
pytz==2018.3
rarfile==3.0
requests==2.6.0
requests-oauthlib==0.8.0
scandir==1.7
semantic-url==1.0.11
six==1.9.0
sqlparse==0.2.4
Unidecode==1.0.22
