{# Gallery Listing Sidebar - Uses unified pagination sidebar component #}

{% set show_page_selector = true %}
{% set show_next_tab = false %}
{% set show_download = false %}

{% set up_url = up_uri ~ "?page=" ~ page_locale ~ "&sort=" ~ sort %}
{% set up_url_newwin = up_url ~ "&newwin=True" %}
{% set first_url = "?page=1&sort=" ~ sort %}
{% set prev_url = ("?page=" ~ (current_page - 1) ~ "&sort=" ~ sort) if current_page > 1 else None %}
{% set next_url = ("?page=" ~ (current_page + 1) ~ "&sort=" ~ sort) if current_page < total_pages else None %}
{% set last_url = "?page=" ~ total_pages ~ "&sort=" ~ sort %}

{% include 'components/pagination_sidebar.jinja' %}
