<!-- Gallery Listing Partial - HTMX Content Only -->
<div hx-boost="true" class="partial-container">
{% autoescape off %}
{% include 'frontend/gallery/gallery_listing_menu.jinja' %}
{% include 'frontend/gallery/gallery_listing_sidebar.jinja' %}
{% include 'frontend/gallery/gallery_listing_images.jinja' %}

{% endautoescape %}

</div>
