{% extends 'base.jinja' %}
{% from 'macros/htmx.jinja' import show_page_title_meta %}

{% block body_attrs %} id="entire_document"{% endblock %}

{% block content %}
{{ show_page_title_meta(gallery_name, request=request) }}

{% include 'frontend/gallery/gallery_listing_partial.jinja' %}
{% endblock %}