<!-- Gallery Listing Partial - HTMX Content Only -->
<div hx-boost="true" style="g-0;m-0;p-0;">
{% autoescape off %}
{% include 'frontend/gallery/gallery_listing_menu.jinja' %}
{% include 'frontend/gallery/gallery_listing_sidebar.jinja' %}
{% include 'frontend/gallery/gallery_listing_images.jinja' %}

{% endautoescape %}

</div>
