<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/resources/images/open_folder_yellow.png" >

    <script src="/resources/javascript/htmx.min.js"> </script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <link rel="preload" href="/resources/css/bulma.min.css" as="style" defer>
    <link rel="stylesheet" href="/resources/css/bulma.min.css">

    <link rel="preload" href="/resources/css/all.min.css" as="style" defer>
    <link rel="stylesheet" href="/resources/css/all.min.css" >

    <link rel="preload" href="/resources/javascript/htmx.min.js" defer>
    {{ django_htmx_script() }}
   
    <title>{% block title %} {{ gallery_name }} {% endblock %}</title>

    <style>
      #spinner {
        display: none;
        text-align: center;
        margin-top: 2rem;
      }
    </style>
  </head>

<body id="entire_document">
  <script>
      document.title = '{{ gallery_name }}'
  </script>

  <script>
    document.addEventListener("htmx:beforeRequest", function(evt) {
      document.getElementById("spinner").style.display = "block";
    });

    document.addEventListener("htmx:afterRequest", function(evt) {
      document.getElementById("spinner").style.display = "none";
    });
  </script>

{% autoescape off %}
{% include 'frontend/gallery/gallery_listing_partial.jinja' %}

{% endautoescape %}
</body>
</html>
