<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url('home') }}">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Name
            </a>
            <a class="navbar-item">
                File
            </a>
            <a class="navbar-item" href="javascript:window.print()">
                Print
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <form action='/search'>
                    <div class="field has-addons">
                        <div class="control">
                            <input id="searchtext" name="searchtext" class="input" type="text" placeholder="Title">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-link">Search</button>
                        </div>
                    </div>
                </form>
            </div>  <!-- Navbar Item -->
        </div>  <!-- Navbar End -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {% if user.username == '' %}
                    {{ icon("users fa-2x")}}
              {% else %}
                    {{ user.username }}
              {% endif %}
            </a>
            <div class="navbar-dropdown is-boxed is-right">
                <a class="navbar-item" href="/Admin">Administrator Access</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/Admin/password_change">Password Change</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/Admin/logout">Logout</a>
            </div>
        </div>

    </div> <!-- Navbar Menu -->
</nav>