{% extends 'base.jinja' %}

{% block body_attrs %} id="entire_document"{% endblock %}

{% block content %}
<title>{{ gallery_name }}</title>

{% autoescape off %}
{% include 'frontend/search/search_listings_partial.jinja' %}
{% endautoescape %}
{% endblock %}
