<!-- Search Listings Partial - HTMX Content Only -->
<div hx-boost="true" style="g-0;m-0;p-0;">
{% autoescape off %}
{% include 'frontend/search/search_listings_menu.jinja' %}
{% include 'frontend/search/search_listings_sidebar.jinja' %}
{% include 'frontend/search/search_listings_images.jinja' %}

{% endautoescape %}

</div>
