<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="{{bulma_uri}}" as="style" >
    <link rel="preload" href="{{fontawesome_uri}}" as="style">

    <link rel="stylesheet" href="{{bulma_uri}}" defer>
    <link rel="stylesheet" href="{{fontawesome_uri}}" defer>

    <title>{% block title %} {{ gallery_name }} {% endblock %}</title>
</head>
<body>
{% autoescape off %}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url('home') }}">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Name
            </a>
            <a class="navbar-item">
                File
            </a>
            <a class="navbar-item" href="javascript:window.print()">
                Print
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <form action='/search'>
                    <div class="field has-addons">
                        <div class="control">
                            <input id="searchtext" name="searchtext" class="input" type="text" placeholder="Title">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-link">Search</button>
                        </div>
                    </div>
                </form>
            </div>  <!-- Navbar Item -->
        </div>  <!-- Navbar End -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {% if user.username == '' %}
                    {{ icon("users fa-2x")}}
              {% else %}
                    {{ user.username }}
              {% endif %}
            </a>
            <div class="navbar-dropdown is-boxed is-right">
                <a class="navbar-item" href="/Admin">Administrator Access</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/Admin/password_change">Password Change</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/Admin/logout">Logout</a>
            </div>
        </div>

    </div> <!-- Navbar Menu -->
</nav>

<div class="container is-fluid" style="margin-left:0px;padding-left:2px;padding-right:2px;">
    <div class="columns is-mobile">

        <!--         Sidebar -->
        <div class="column is-1 is-narrow" style="border:2px solid black;position: fixed;" >
           <p align=center><a href="{{ up_uri }}?page=1&sort={{sort}} ">{{ icon("arrow-up fa-2x")}}</a></p>
                <hr>
                <a href="?page=1">
                    <p align=center>{{ icon("angle-double-left fa-3x")}}</a></p>
                <hr>
                <span class="step-links">
                    {% if pagelist.has_previous() %}
                        <a href="?page={{ pagelist.previous_page_number() }}&sort={{sort}}">
                        <p align=center>{{ icon("angle-left fa-3x")}}</a></p>
                    {% else %}
                            <p align=center><img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/></p>
                    {% endif %}
                <hr><center>
                    <form action="?" method="GET">
                        <input type="hidden" id="sort" name="sort" value="{{sort}}">
                    Page<br>
                        <select name="page" onchange='this.form.submit()'>
                            {% for pagecnt in page_cnt %}
                                {% set current_page = pagecnt %}
                                <option value="{{pagecnt}}" {% if pagecnt == pagelist.number %}selected{% endif %}>{{pagecnt}}</option>
                            {% endfor %}
                        </select><br>
                        of {{ pagelist.paginator.num_pages }}.
                    </form></center>
                <hr>

                    {% if pagelist.has_next() %}
                        <a href="?page={{ pagelist.next_page_number() }}&sort={{sort}}">
                        <p align=center>{{ icon("angle-right fa-3x")}}</a></p>
                    {% else %}
                            <img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/>
                    {% endif %}
                <hr>

                <a href="?page={{ pagelist.paginator.num_pages }}&sort={{sort}}">
                        <p align=center>{{ icon("angle-double-right fa-3x")}}</a></p>
                </span>
                <hr>
                    <form action="" method="GET">
                        <input type="hidden" id="page" name="page" value="{{current_page}}">
                        <select name="sort" onchange='this.form.submit()'>
                            <option value="0" {% if sort == 0 %}selected{% endif %}>A..Z</option>
                            <option value="1" {% if sort == 1 %}selected{% endif %}>LastM</option>
                            <option value="2" {% if sort == 2 %}selected{% endif %}>CTime</option>
                        </select>
                    </form>
                <hr>
        </div>    <!--         Sidebar -->


        <div class="column is-12">  <!-- Folder Navigation & Breadcrumbs -->
            <div class="columns is-mobile is-centered is-gapless m-0 p-0">
                <div class="column is-2"></div>
                <div class="column is-one-third has-text-centered">
                   <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                        <ul>
                        {% for name, url, link in breadcrumbs %}
                            <li><a href='{{url}}'>{{name}}</a></li>
                        {% endfor %}
                        <li class="is-active"><h3>{{ gallery_name|wordwrap(width=50,break_long_words=True) -}}</h3></li>
                        </ul>
                   </nav>
                </div>
                <div class="column is-one-third has-text-centered">
                        {% if prev_uri not in ["", None] %}
                            <a href="{{ prev_uri }}?sort={{sort}}">
                                {{ icon("angle-left fa-1x")}}
                                {{ prev_uri.split("/")[-1][:30]|wordwrap(width=25,break_long_words=True) -}}</a>
                        {% endif %}
                </div>
                <div class="column is-one-third has-text-centered">
                        {% if next_uri not in ["", None] %}
                            <a href="{{ next_uri }}?sort={{sort}}">
                            {{ icon("angle-right fa-1x")}}
                            {{ next_uri.split("/")[-1][:30]|wordwrap(width=25,break_long_words=True) -}}</a>
                        {% endif %}
                </div>
            </div><!-- Folder Navigation & Breadcrumbs -->

            <div class="columns is-mobile is-gapless is-centered has-text-centered m-0 p-0"  style="margin-bottom:1px;margin-top:1px;">
                <div class="column is-1">
                </div>
                <div class="column is-11 is-narrow is-gapless" style="border:1px solid black;margin-bottom:1px;margin-top:1px;">
                    <div class="columns is-mobile  is-multiline is-gapless is-centered has-text-centered"  style="margin-bottom:1px;margin-top:1px;">
                        {%- for item in items_to_display -%}
                            <div class="column is-one-third" style="border:1px solid black;background-color:#{{item.filetype.color}};">
                                <b>{{ loop.index }}</b> <br>
        <!-- title -->
                                {% if item.filetype.is_link %}
                                    <font class="is-size-7"><a href="{{ item.fqpndirectory }}" style="background-color:#{{item.get_bg_color()}};" defer>
                                    {{ item.name.split("*")[0] }}</font><br>
                                    <img loading='lazy' src="{{item.get_thumbnail_url()}}" class="img-responsive" style="width:auto;max-width:100%"/>
                                {% else %}
                                <font class="is-size-7"><a href="{{item.get_view_url()}}?sort={{sort}}" class="thumbnail class="is-size-7" style="background-color:#{{item.get_bg_color()}};" defer>
                                    {{ item.name|wordwrap(width=24, break_long_words=True)}}</font> <br>
                                    <img loading='lazy' src="{{item.get_thumbnail_url()}}" class="img-responsive" style="width:auto;max-width:100%"/>
                                {% endif %}
        <!-- Display thumbnail  -->
                                </a>
                                <div class="cell flex-shrink">
                                    {% if item.filetype.is_link %}
                                        <a href="{{ item.fqpndirectory }}" target="_blank" style="m-0;p-0;margin-top:-20px;display: flex; justify-content: flex-end;margin-right:10px;">
                                            {{ icon("external-link-alt fa-xl") }}
                                        </a>
                                    {% else %}
                                        <a href="{{item.get_view_url()}}?sort={{sort}}" target="_blank" style="m-0;p-0;margin-top:-20px;display: flex; justify-content: flex-end;margin-right:10px;">
                                            {{ icon("external-link-alt fa-xl") }}
                                        </a>
                                    {% endif %}
                                    <br>
                                </div>

                                <div class="fixed-grid has-3-cols is-gapless is-column-gap-0 is-row-gap-0 m-0 p-0">
                                    <div class="grid is-gapless is-column-gap-0 is-row-gap-0 m-0 p-0">
                                        {% if item.filetype.is_dir %}
                                        <div class="cell flex-shrink">
                                            {{ icon("fa-regular fa-folder")}}
                                            {% set dir_counts = item.get_dir_counts() %}
                                                {% if dir_counts not in [0, None, "", -1]  %}
                                                    <font class="is-size-6" style="color:black">{{ dir_counts | intcomma }}
                                                    </font>
                                                {% endif %}
                                        </div>
                                        <div class="cell flex-shrink">
                                            {{ icon("fa-regular fa-file")}}
                                            {% set file_counts = item.get_file_counts() %}
                                            {% if file_counts not in [0, None, "", -1]  %}
                                                <font class="is-size-6"  style="color:black">{{ file_counts | intcomma }}
                                                </font>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        <div class="cell flex-shrink">
                                            {{ icon("fa-regular fa-calendar")}}
                                            <b class="is-size-7"  style="color:black">{{ fromtimestamp( item.lastmod).strftime("%m/%d/%y %H:%M") }}</b>
                                        </div>
                                    <div class="cell flex-shrink">
                                        {% if item.size and not item.filetype.is_movie and not item.filetype.is_dir %}
                                            {{ icon("fa-regular fa-ruler")}}
                                            <b class="is-size-7  m-0 p-0" style="color:black">FileSize: {{ item.size | intcomma }}</b>
                                        {% endif %}
                                        {% if item.filetype.is_movie %}
                                            {{ icon("fa-regular fa-clock")}}
                                        <b class="is-size-7 m-0 p-0" style="color:black"> {{ precisedelta(item.duration) }}</b>
                                        {% endif %}
                                    </div>
                                </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endautoescape %}

</body>
</html>
