{% extends 'frontend/gallery_base.jinja' %}

{% block content %}
 <!-- cdnjs -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    <!-- sidebar -->
    <div class="container" style="width:99%">
      <div class="row">
        <div class="col-xs-6 col-sm-3" id="sidebar" role="navigation">
            <div class="pagination">
                <a href="{{ up_uri }}"><img src="/resources/images/Go_Up2.png" width="75%"></a>
                <hr>
                <a href="?page=1">
                    <img width="75%" height="75%" src="/resources/images/gtk_media_next_rtl.png"/></a>
                <hr>
                <span class="step-links">
                    {% if pagelist.has_previous() %}
                        <a href="?page={{ pagelist.previous_page_number() }}">
                            <img width="75%" height="75%" src="/resources/images/gtk_media_rev_ltr.png"/></a>
                    {% else %}
                            <img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/>
                    {% endif %}
                <hr><center>
                    <form action="?" method="GET">
                    Page
                        <select name="page" onchange='this.form.submit()'>
                            {% for pagecnt in page_cnt %}
                                <option value="{{pagecnt}}" {% if pagecnt == pagelist.number %}selected{% endif %}>{{pagecnt}}</option>
                            {% endfor %}
                        </select><br>
                        of {{ pagelist.paginator.num_pages }}.
                    </form></center>
                <hr>

                    {% if pagelist.has_next() %}
                        <a href="?page={{ pagelist.next_page_number() }}">
                            <img width="75%" height="75%" src="/resources/images/gtk_media_play_ltr.png"/></a>
                    {% else %}
                            <img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/>
                    {% endif %}
                <hr>

                <a href="?page={{ pagelist.paginator.num_pages }}">
                    <img width="75%" height="75%" src="/resources/images/gtk_media_next_ltr.png"/></a>
                </span>
                <hr>
                    <form action="?page={{ current_page }}" method="GET">
                    {% csrf_token %}
                        <select name="sort" onchange='this.form.submit()'>
                            <option value="0" {% if sort_order == 0 %}selected{% endif %}>A..Z</option>
                            <option value="1" {% if sort_order == 1 %}selected{% endif %}>LastM</option>
                            <option value="2" {% if sort_order == 2 %}selected{% endif %}>CTime</option>
                        </select>
                    </form>
                <hr>
            </div>
        </div>
<!-- main area -->
         <div class="container-fluid" style="margin-left: 45px;margin-right:1px;border: 0px solid;padding-left:2px;padding-right:2px;">
             <table border=0 width="97%">
                <tr>
                <td width="25%" align=left> <a href="{{ prev_uri }}">{{ prev_uri }}</a></td>
                <td width="50%" align=center><b>{{ gallery_name }}</b></td>
                <td width="25%" align=right> <a href="{{ next_uri }}">{{ next_uri }}</a></td>
                </tr>
             </table>
                    <div class="row" width="auto" style="margin-left: 0px;margin-right:0px;border: 0px solid;padding-left:2px;padding-right:2px;">
                    {% for item in pagelist %}
                                <div class="col-xs-6 col-sm-4" style="bgcolor:#fef7df">
                                    <center>
                                        {{ loop.index }} <br>
                                            {% if item.directory != None or item.is_dir %}<a href="{{ webpath }}{{ item.name }}" class="thumbnail" style="background-color:#{{item.filetype.color}};"> {% endif %}
                                            {% if item.archives != None  or item.is_archive %}<a href="/view_archive/{{ item.uuid}}" class="thumbnail" style="background-color:#{{item.filetype.color}};"> {% endif %}
                                            {% if item.file_tnail != None %}<a href="/view_item/{{ item.uuid }}" class="thumbnail" style="background-color:#{{item.filetype.color}};"> {% endif %}
                                                {{ item.name|wordwrap(width=24, break_long_words=True)}}
                                                <br>
                                            {% if item.is_dir %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="/thumbnails/{{ item.uuid }}?size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                            {% elif item.is_pdf %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="/thumbnails/{{ item.uuid }}?pdf&size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                            {% elif item.is_archive %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="/thumbnails/{{ item.uuid }}?arch=0&size=small" class="img-responsive" style="width:auto;max-width:100%"/>
<!--
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ thumbpath }}/{{ item.name}}?arch=0&size=small" class="img-responsive" style="width:auto;max-width:100%"/>
 -->
                                            {% else %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="/thumbnails/{{ item.uuid }}?size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                            {% endif %}

                                        </a>
                                                {{ item.uuid }} <br>
                                        {% if item.is_animated %}
                                        <b>Animated</b><br>
                                        {% endif %}
                                        {% if item.numdirs != None and item.numdirs != 0%}
                                            <b># of Dirs: </b>{{ item.numdirs | intcomma }}<br>
                                        {% endif %}

                                        {% if item.numfiles != None and item.numfiles != 0 %}
                                            <b># of Files: </b>{{ item.numfiles | intcomma }}<br>
                                        {% endif %}
                                        {% if item.is_dir != True and item.Size != None and item.Size != 0 %}
                                            <b>File Size: </b>{{ item.size | intcomma}}<br>
                                        {% endif %}
                                        <b>Last Modified: </b>{{ fromtimestamp( item.lastmod).strftime("%m/%d/%y %H:%M:%S") }}<br>
                                            {% if item.directory != None or item.is_dir %}<a href="{{ webpath }}{{ item.name }}" target="_blank"> {% endif %}
                                            {% if item.archives != None or item.is_archive %}<a href="{{ webpath }}{{ item.name }}" target="_blank"> {% endif %}
                                            {% if item.file_tnail != None %}<a href="/view_item/{{ item.uuid }}" target="_blank"> {% endif %}
                                <img src="/resources/images/stock_new_window.png" align=right height="15%" width="15%"></a>

                                    </center>
                                </div>

                            <!-- if last column in row -->
                            {% if loop.index is divisibleby 3 %}
                                </div> <div class="row" style="margin-left: 0px;margin-right:0px;border: 0px solid;padding-left:2px;padding-right:2px;">
                            {% endif %}

                    {% endfor %}
            </div>


        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
 </center>
<script>
$(function($) {
    $("img.lazy").Lazy({
    scrollDirection: 'vertical',
        effect: 'fadeIn',
        visibleOnly: true,
        delay: 300,
        threshold: 200,
        combined: true
});
});
</script>
{% endblock %}
