{% extends 'frontend/gallery_base.jinja' %}

{% block content %}
<!-- sidebar -->
<div class="container" style="width:99%">
    <div class="row">
        <div class="col-xs-6 col-sm-3" id="sidebar" role="navigation">
            <div class="pagination">
                <p align=center><a href="{{ up_uri }}?page=1&sort={{sort}} ">{{ icon("arrow-up fa-2x")}}</a></p>
                <hr>
                <a href="?page=1">
                    <p align=center>{{ icon("angle-double-left fa-3x")}}</a></p>
                <hr>
                <span class="step-links">
                    {% if pagelist.has_previous() %}
                        <a href="?page={{ pagelist.previous_page_number() }}&sort={{sort}}">
                        <p align=center>{{ icon("angle-left fa-3x")}}</a></p>
                    {% else %}
                            <p align=center><img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/></p>
                    {% endif %}
                <hr><center>
                    <form action="?" method="GET">
                        <input type="hidden" id="sort" name="sort" value="{{sort}}">
                    Page
                        <select name="page" onchange='this.form.submit()'>
                            {% for pagecnt in page_cnt %}
                                {% set current_page = pagecnt %}
                                <option value="{{pagecnt}}" {% if pagecnt == pagelist.number %}selected{% endif %}>{{pagecnt}}</option>
                            {% endfor %}
                        </select><br>
                        of {{ pagelist.paginator.num_pages }}.
                    </form></center>
                <hr>

                    {% if pagelist.has_next() %}
                        <a href="?page={{ pagelist.next_page_number() }}&sort={{sort}}">
                        <p align=center>{{ icon("angle-right fa-3x")}}</a></p>
                    {% else %}
                            <img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/>
                    {% endif %}
                <hr>

                <a href="?page={{ pagelist.paginator.num_pages }}&sort={{sort}}">
                        <p align=center>{{ icon("angle-double-right fa-3x")}}</a></p>
                </span>
                <hr>
                    <form action="?" method="GET">
                    {% csrf_token %}
                        <input type="hidden" id="page" name="page" value="{{current_page}}">
                        <select name="sort" onchange='this.form.submit()'>
                            <option value="0" {% if sort == 0 %}selected{% endif %}>A..Z</option>
                            <option value="1" {% if sort == 1 %}selected{% endif %}>LastM</option>
                            <option value="2" {% if sort == 2 %}selected{% endif %}>CTime</option>
                        </select>
                    </form>
                <hr>
            </div>
        </div>
<!-- main area -->
         <div class="container-fluid" style="margin-left: 45px;margin-right:1px;border: 0px solid;padding-left:2px;padding-right:2px;">
             <table border=0 width="97%">
                <tr>
                <td width="25%" align=left> <a href="{{ prev_uri }}?sort={{sort}}">{{ prev_uri[:40]|wordwrap(width=25,break_long_words=True) }}</a></td>
                <td width="50%" align=center><b>{{ gallery_name|wordwrap(width=40,break_long_words=True) }}</b></td>
                <td width="25%" align=right> <a href="{{ next_uri }}?sort={{sort}}">{{ next_uri[:40]|wordwrap(width=25,break_long_words=True)  }}</a></td>
                </tr>
             </table>
                    <div class="row" width="auto" style="margin-left: 0px;margin-right:0px;border: 0px solid;padding-left:2px;padding-right:2px;">
                    {%- for item in pagelist -%}
                                <div class="col-xs-6 col-sm-4" style="bgcolor:#fef7df">
                                    <div valign=top>
                                        <center>
                                            {{ loop.index }}
                                        </center>
                                    </div>

                                    <div valign=center>
                                        <center>
                                            {% if item.filetype.is_movie %}<a href="{{ url('new_viewitem', args=[item.uuid]) }}?sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">
                                            {% elif item.filetype.is_dir %}<a href="{{ webpath }}{{ item.name }}?page=1&sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">
                                            {% elif item.filetype.is_archive %}<a href="{{ url('new_view_archive', args=[item.uuid]) }}?sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">
                                            {% elif item.filetype.is_image or item.filetype.is_pdf %}<a href="{{ url('new_viewitem', args=[item.uuid]) }}?sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">

                                            {% else %}<a href="{{ url('new_viewitem', args=[item.uuid]) }}?sort={{sort}}" class="thumbnail" style="background-color:#{{item.filetype.color}};">
                                            {% endif %}

                                            {{ item.name|wordwrap(width=24, break_long_words=True)}}

                                            {% if item.filetype.is_dir %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ url('thumbnailspath') }}{{ item.uuid }}?size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                            {% elif item.filetype.is_pdf %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ url('thumbnailspath') }}{{ item.uuid }}?pdf&size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                            {% elif item.filetype.is_archive %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ url('thumbnailspath') }}{{ item.uuid }}?arch=0&size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                            {% elif item.filetype.is_image  or item.filetype.is_movie %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ url('thumbnailspath') }}{{ item.uuid }}?size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                            {% else %}
                                                <img class="lazy" src="/resources/images/loading17.gif" data-src="/resources/images/{{ item.filetype.icon_filename }}" class="img-responsive" style="width:auto;max-width:100%"/>
                                            {% endif -%}
                                            </a>
                                        </center>
                                    </div>
                                    <div valign=bottom class="bottom-align-text">
<!--
                                            <tr><td colspan=2 width="90%"><center><sub>{{ item.uuid }}</sub></center></td>
 -->

                                        <table width="99%" border=0>
                                            <tr align=center>
                                            {%- if item.filetype.is_animated -%}<tr><td colspan=2><b>Animated</b></td></tr>{%- endif %}

                                            <tr align=center>
                                                <td width="40%">
                                                    {% if item.numdirs != None and item.numdirs != -1%}
                                                    <b># Dirs:</b> {{ item.numdirs | intcomma }}
                                                    {% endif %}</b>
                                                </td>
                                                <td width="35%">
                                                    {% if item.numfiles != None and item.numfiles != -1 %}
                                                    <b># Files:</b> {{ item.numfiles | intcomma }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            </table>
                                            <table width="99%" border=0>
                                            <tr align=Right>
                                                <td width=75%>
                                                    <b>Last Modified:</b>
                                                    {% if not request.user_agent.is_pc %}<br>{% endif %}
                                                    {{ fromtimestamp( item.lastmod).strftime("%m/%d/%y %H:%M:%S") }}
                                                </td>
                                                <td align=right>
                                                    {% if item.filetype.is_dir %}                <a href="{{ webpath }}{{ item.name }}?sort={{sort}}" target="_blank"> {% endif %}
                                                    {% if item.filetype.is_archive %}                       <a href="/view_archive/{{ item.uuid}}?sort={{sort}}" target="_blank"> {% endif %}
                                                    {% if item.filetype.is_image or item.filetype.is_pdf  or item.filetype.is_movie %} <a href="/view_item/{{ item.uuid }}?sort={{sort}}" target="_blank"> {% endif %}
                                                    {{ icon("external-link-alt fa-2x") }}</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            <!-- if last column in row -->
                            {% if loop.index is divisibleby 3 %}
                                </div> <div class="row" style="margin-left: 0px;margin-right:0px;border: 0px solid;padding-left:2px;padding-right:2px;">
                            {% endif %}
                    {%- endfor %}
            </div>

        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
 </center>
<script >
$(function($) {
    $("img.lazy").Lazy({
    scrollDirection: 'vertical',
        effect: 'fadeIn',
        visibleOnly: true,
        delay: 300,
        threshold: 200,
        combined: true
});
});
</script>
{% endblock %}
