<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    <title></title>
</head>

<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url('home') }}">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Name
            </a>
            <a class="navbar-item">
                File
            </a>
            <a class="navbar-item" href="javascript:window.print()">
                Print
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <form>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="Title">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-link">Search</button>
                        </div>
                    </div>
                </form>
            </div>  <!-- Navbar Item -->
        </div>  <!-- Navbar End -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {% if user.username == '' %}
                    {{ icon("users fa-2x")}}
              {% else %}
                    {{ user.username }}
              {% endif %}
            </a>
            <div class="navbar-dropdown is-boxed is-right">
                <a class="navbar-item" href="/Admin">Administrator Access</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/Admin/password_change">Password Change</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/Admin/logout">Logout</a>
            </div>
        </div>

    </div> <!-- Navbar Menu -->
</nav>


<div class="container is-fluid" style="margin-left:0px;padding-left:2px;padding-right:2px;">
    <div class="columns is-mobile">

        <!--         Sidebar -->
        <div class="column is-1 is-narrow" style="border:2px solid black;position: fixed;">
           <p align=center>

           <a href="" id="up_uri">{{ icon("arrow-up fa-2x")}}</a><p>

                <hr style="padding:2px;margin:2px">

                <p align=center>
                <a href="" id="first_uuid" onclick="#">
                    {{ icon("angle-double-left fa-3x")}}</a></p>
                <hr style="padding:2px;margin:2px">

                <p align=center id="previous_icon">
                        <a href="" id="previous_uuid" onclick="#">
                        {{ icon("angle-left fa-3x")}}</a></p>
                <hr style="padding:2px;margin:2px">
                <center>
                    <p id="pages">Page <br>
                    <br>
                    <br>
                    </center>
                <hr style="padding:2px;margin:2px">

                <p align=center>
                        <a  id="next_uuid" onclick="#">
                        {{ icon("angle-right fa-3x")}}</a></p>

                <hr style="padding:2px;margin:2px">
                <p align=center>
                        <a  id="next_tab_uuid" target="_blank">
                        {{ icon('fas fa-external-link-alt fa-3x') }}</a></p>

                <hr style="padding:2px;margin:2px">

                <p align=center>
                <a id="last_uuid" onclick="#">
                        {{ icon("angle-double-right fa-3x")}}</a></p>
                <hr style="padding:2px;margin:2px">

                <p align=center>
                <a id="download_uri">
                {{ icon('arrow-down fa-3x') }}</a>

                <hr style="padding:2px;margin:2px">
                <center>
                    <form action="" method="GET">
                        <input type="hidden" id="page" name="page" value="{{current_page}}">
                        <select name="sort" onchange='this.form.submit()'>
                            <option value="0" {% if sort == 0 %}selected{% endif %}>A..Z</option>
                            <option value="1" {% if sort == 1 %}selected{% endif %}>LastM</option>
                            <option value="2" {% if sort == 2 %}selected{% endif %}>CTime</option>
                        </select>
                    </form></center>
        </div>    <!--         Sidebar -->


        <div class="column is-12">  <!-- Folder Navigation & Breadcrumbs -->
            <div class="columns is-mobile is-centered is-gapless is-narrow"  style="padding:0px;margin-bottom:1px;margin-top:1px;">
                <div class="column is-1"></div>
                <div class="column-fluid has-text-centered">
                   <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                        <ul>
                        <li id="breadcrumbs"></li>
                        <li class="is-active"><b id="title"></b></li>
                        </ul>
                   </nav>
                </div>
            </div><!-- Folder Navigation & Breadcrumbs -->


            <div class="columns is-mobile is-gapless is-centered is-narrow"  style="padding:1px;margin-bottom:1px;margin-top:1px;">
                    <div class="column is-1 is-narrow"  style="padding:1px;margin-bottom:1px;margin-top:1px;">
                    </div>
                    <div class="column is-11 is-narrow is-gapless" style="border:1px solid black;margin-bottom:1px;margin-top:1px;">
                        <div id ="item_frame" class="columns is-mobile  is-multiline is-gapless is-centered"  style="margin-bottom:0px;margin-top:0px;">
                             <div class="container-fluid" width="99%" style="margin-left: 1px;margin-right:1px;border: 1px solid;width=100%;left-pad:2px;right-pad:2px;">
                                    <div class="row">
                                            <div class="has-text-left" id="text_frame" style=" text-align:left !important;background-color:#FFFFFF">
                                                </center>
                                                <p class="has-text-left" style=" text-align:left !important;" id="text_frame"></p>
                                                <center>
                                            </div>
                                            <div class="thumbnail" id="thumbnail_frame" style="background-color:#FFFFFF">
                                                <center><a href id="image_link">
                                                    <img id="display_image" class="lazy" src="/resources/images/loading17.gif" style="height:auto;max-width:auto;"/></a>
                                            </div>
                                            <div class="thumbnail" id="movie_frame" style="background-color:#FFFFFF">
                                                     <video id="movie_viewer" class="video-js" data-setup='{}'  style="height:auto;max-width:100%;" controls>
                                                          <source type="video/mp4">
                                                     </video>
                                            </div>
                                            <center>
                                            <div class="columns is-multiline" style="padding:1px">
                                                <div class="column is-one-half" style="padding:1px">
                                                    <b id="last_mod_head">Last Modified: </b>
                                                    <p id="last_mod"></p>
                                                </div>
                                                <div class="column is-one-half"  style="padding:1px">
                                                    <b id="file_size_head">File Size: </b>
                                                    <p id="file_size"></p>
                                                </div>
                                                <div class="column is-12 is-narrow" style="padding:1px" id="uuid_head">
                                                   <font class="is-size-7"> <b>UUID:</b><font id="uuid">dddd</font>
                                                </div>
                                            </div> <!--- Thumbnail --->
                                            </center>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>

<script>
var setDATA = function(data) {
    var command = "/view_item/"
    console.log("Setting Title")
    if (data.mobile){
        var imagesize = "medium"
        }
    else {
        var imagesize = "large"}

    window.history.pushState(data.filename, data.filename, command + data.uuid + "?sort="+data.sort);
    document.title = data.filename
    document.getElementById("title").innerHTML = data.filename
    document.getElementById("breadcrumbs").innerHTML = data.breadcrumbs
    document.getElementById("up_uri").href = data.up_uri+'?page='+data.page+'&sort=' + data.sort

    console.log("Setting Previous block")
    document.getElementById("first_uuid").onclick = function (){loadDATA(data.first_uuid, data.sort);return false;}
    document.getElementById("last_uuid").onclick = function (){loadDATA(data.last_uuid, data.sort);return false;}
    document.getElementById("previous_uuid").onclick = function (){loadDATA(data.previous_uuid, data.sort);return false;}
    document.getElementById("next_uuid").onclick = function (){loadDATA(data.next_uuid, data.sort);return false;}
    //$('#myLink').click(loadDATA(data.next_uuid, data.sort));
    //command + data.next_uuid + '?sort='+data.sort

    document.getElementById("next_tab_uuid").href = command + data.next_uuid + '?sort='+data.sort
    //console.log(data.page, data.page == 1, data.page == "1")

    if (data.pagecount == data.page){
        document.getElementById("next_tab_uuid").style.visibility = "hidden"
        document.getElementById("last_uuid").style.visibility = "hidden"
        }
    else {
        document.getElementById("next_tab_uuid").style.visibility = "visible"
        document.getElementById("last_uuid").style.visibility = "visible"
    }


    //console.log("Setting download block")
    document.getElementById("download_uri").href = '/download/'+data.filename+'?UUID='+data.uuid

    document.getElementById("uuid").innerHTML = data.uuid
    document.getElementById("file_size").innerHTML = data.filesize
    document.getElementById("last_mod").innerHTML = data.lastmod_ds


    console.log("Setting hiding block")
    if (data.previous_uuid == "") {
        document.getElementById("previous_icon").style.visibility = "hidden";
        document.getElementById("first_uuid").style.visibility = "hidden";}
    else {
        document.getElementById("previous_icon").style.visibility = "visible";
        document.getElementById("first_uuid").style.visibility = "visible";
    }

    if (data.next_uuid == "") {
        document.getElementById("next_uuid").style.visibility = "hidden";
        document.getElementById("last_uuid").style.visibility = "hidden";}
    else {
        document.getElementById("next_uuid").style.visibility = "visible";
        document.getElementById("last_uuid").style.visibility = "visible";
    }

    document.getElementById("pages").innerHTML = "Page<br>"+data.page+"<br>of<br>"+data.pagecount
    document.getElementById("item_frame").style.backgroundColor = "#"+data.ft_color
    document.getElementById("thumbnail_frame").style.backgroundColor = "#"+data.ft_color
    var filetype = ""
    if (data.ft_is_movie){
        document.getElementById("movie_frame").style.display = "block"
        document.getElementById("movie_frame").style.visibility = "visible";
        document.getElementById("movie_viewer").src = '/download/'+data.filename+'?UUID='+data.uuid
        document.getElementById("text_frame").style.display = "none"
        document.getElementById("thumbnail_frame").style.display = "none"
        }

    if (data.ft_is_archive) {filetype += "&arch"}
    if (data.ft_is_pdf) {filetype += "&pdf"}

    if (data.html!=""){
        console.log("HTML is populated")
        document.getElementById("movie_frame").style.display = "none"
        document.getElementById("thumbnail_frame").style.display = "none"
        document.getElementById("text_frame").style.display = "block"
        document.getElementById("text_frame").innerHTML = data.html
    }
    else {
        document.getElementById("text_frame").innerHTML = ""
        }

    if (data.ft_is_dir){
        document.getElementById("image_link").href = data.webpath + data.filename +"?sort=" + data.sort
        }
    else
        {
        document.getElementById("image_link").href = "none"
        }

    if (data.ft_is_image || data.ft_is_pdf || data.ft_is_archive){
        document.getElementById("thumbnail_frame").style.display = "block"
        document.getElementById("text_frame").style.display = "none"
        if (data.is_animated) {
                document.getElementById("display_image").src = '/download/'+data.filename+'?UUID='+data.uuid
            } else {
                document.getElementById("display_image").src = "/thumbnails/"+data.uuid+"?size="+imagesize+filetype
            }
        document.getElementById("movie_frame").style.display = "none"
        }

    if (data.ft_is_movie==false){
        console.log("turn off movie")
        document.getElementById("movie_frame").style.display = "none"
        }

};

var getJSON = function(url, callback) {

    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';

    xhr.onload = function() {

        var status = xhr.status;

        if (status == 200) {
            callback(null, xhr.response);
        } else {
            callback(status);
        }
    };

    xhr.send();
};

// getJSON('/info/{{uuid}}?sort={{sort}}',  function(err, data) {
//
//     if (err != null) {
//         console.error(err);
//     } else {
//         setDATA(data)
//     }
// });

var loadDATA = function(uuid, sort){
    getJSON('/info/'+uuid + '?sort='+sort,  function(err, data) {
        if (err != null) {
            console.error("error: ",err);
        }
        else
        {
            setDATA(data)
        }
    })
    return false;
};

loadDATA('{{uuid}}','{{sort}}')
</script>
<script>
$(function($) {
    $("img.lazy").Lazy({
    scrollDirection: 'vertical',
        effect: 'fadeIn',
        visibleOnly: true,
        delay: 300,
        threshold: 200,
        combined: true
});
});
</script>
</body>
</html>
