<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

        <!-- CSS code from Bootply.com editor -->

<style type="text/css">
            body {
  padding-top: 51px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  width: 58px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 20px;
  position: fixed;
  left:5px;
}
#sidebar .nav {
  width: 99%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

#sidebar {
    padding-top:0;
  }

.col-xs-6.col-sm-4.thumbnail{
    width:30%;
    background:#;
    border:1px solid black;
    padding:1px 1px;
    margin: 5px;}

.row {
  margin-right: 0px;
  margin-left: -15px;
}
</style>

<head>
<title> {{ pagelist.0.0 }}</Title>
<script src="/resources/javascript/jquery.lazy.min.js"></script>
</head>
<body>
        <div class="page-container">
	<!-- top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
    	<div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Gallery 3</a>
    	</div>
       </div>
    </div>

    <div class="container" style="width:95%">
      <div class="row">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3" id="sidebar" role="navigation">
            <div class="pagination">
                <a href="{{ up_uri }}"><img src="/resources/images/Go_Up2.png" width="75%"></a>
                <hr>
                <a href="?page=1">
                    <img width="75%" height="75%" src="/resources/images/gtk_media_next_rtl.png"/></a>
                <hr>
                <span class="step-links">
                    {% if pagelist.has_previous %}
                        <a href="?page={{ pagelist.previous_page_number }}">
                            <img width="75%" height="75%" src="/resources/images/gtk_media_rev_ltr.png"/></a>
                    {% else %}
                            <img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/>
                    {% endif %}
                </span>
                <hr>
                    <span class="current">
                        Page {{ pagelist.number }} of {{ pagelist.paginator.num_pages }}.
                    </span>
                <hr>

                    {% if pagelist.has_next %}
                        <a href="?page={{ pagelist.next_page_number }}">
                            <img width="75%" height="75%" src="/resources/images/gtk_media_play_ltr.png"/></a>

                    {% else %}
                            <img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/><
                    {% endif %}
                <hr>
                {% if pagelist.has_next %}
                    <a href="?page={{ pagelist.next_page_number }}" target="_blank">
                    <img src="/resources/images/stock_new_window.png" height="75%" width="75%"/></a>
                {% endif %}

                <hr>

                <a href="?page={{ pagelist.paginator.num_pages }}">
                    <img width="75%" height="75%" src="/resources/images/gtk_media_next_ltr.png"/></a>
                <hr>
                <a href="?page={{ current_page }}&download"><img width="75%" height="75%" src="/resources/images/down.png"/></a>
                </span>
                <hr>
                    <form action="?page={{ current_page }}" method="GET">
                    {% csrf_token %}
                        <select name="sort" onchange='this.form.submit()'>
                            <option value="0" {% if sort_order == 0 %}selected{% endif %}>A..Z</option>
                            <option value="1" {% if sort_order == 1 %}selected{% endif %}>LastM</option>
                            <option value="2" {% if sort_order == 2 %}selected{% endif %}>CTime</option>
                        </select>
                <hr>
            </div>
        </div>

<!-- main area -->
         <div class="container-fluid" style="margin-left: 55px;border: 1px solid;width=100%;left-pad:2px;right-pad:2px;background:#b0e2ff;">
             <center><b>{{ pagelist.0.0|wordwrap:60|linebreaksbr }}</b></center>
                <div class="row">
                        <div class="thumbnail" style="background:{{ pagelist.0.4 }};">
                            <center>
                                    {% if mobile == True %}
                                        <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ pagelist.0.2.0 }}?size={{medium}}" style="width:auto;max-width:100%;"/>
                                    {% else %}
                                        <img class="lazy" src="/resources/images/loading17.gif" data-src="{{ pagelist.0.2.1 }}?size={{large}}" style="width:auto;max-width:100%;"/>
                                    {% endif %}
                                <br>
                                {% if pagelist.0.1.number_dirs != None and pagelist.0.1.number_dirs != 0%}
                                    <b># of Dirs: </b>{{ pagelist.0.1.number_dirs }}<br>
                                {% endif %}

                                {% if pagelist.0.1.number_files != None and pagelist.0.1.number_files != 0 %}
                                    <b># of Files: </b>{{ pagelist.0.1.number_files }}<br>
                                {% endif %}
                                {% if pagelist.0.1.st.st_size != None and pagelist.0.1.st.st_size != 0 %}
                                    <b>File Size: </b>{{ pagelist.0.1.st.st_size }}<br>
                                {% endif %}
                                <b>Last Modified: </b>{{ pagelist.0.1.human_st_mtime }}
                            </center>
                        </div> <!--- Thumbnail --->
            </div>


        </div><!-- /.col-xs-12 main -->
                    </div><!--/.row-->
                  </div><!--/.container-->
                </div><!--/.page-container-->
                      </center>


<script>
  $(function() {
        $('img.lazy').lazy({
            delay: 250,
            visibleOnly: true
        });
    });
</script>
    </body>
</html>
