<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="{{bulma_uri}}" as="style" >
    <link rel="preload" href="{{fontawesome_uri}}" as="style">

    <link rel="stylesheet" href="{{bulma_uri}}" defer>
    <link rel="stylesheet" href="{{fontawesome_uri}}" defer>

    <title>{% block title %} {{ gallery_name }} {% endblock %}</title>
</head>
<body>
{% autoescape off %}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url('home') }}">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Name
            </a>
            <a class="navbar-item">
                File
            </a>
            <a class="navbar-item" href="javascript:window.print()">
                Print
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <form action='/search'>
                    <div class="field has-addons">
                        <div class="control">
                            <input id="searchtext" name="searchtext" class="input" type="text" placeholder="Title">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-link">Search</button>
                        </div>
                    </div>
                </form>
            </div>  <!-- Navbar Item -->
        </div>  <!-- Navbar End -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {% if user.username == '' %}
                    {{ icon("users fa-2x")}}
              {% else %}
                    {{ user.username }}
              {% endif %}
            </a>
            <div class="navbar-dropdown is-boxed is-right">
                <a class="navbar-item" href="/Admin">Administrator Access</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/Admin/password_change">Password Change</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/Admin/logout">Logout</a>
            </div>
        </div>

    </div> <!-- Navbar Menu -->
</nav>

<div class="container is-fluid" style="margin-left:0px;padding-left:2px;padding-right:2px;">
    <div class="columns is-mobile">

        <!--         Sidebar -->
        <div class="column is-1 is-narrow" style="border:2px solid black;position: fixed;" >
           <p align=center><a href="{{ up_uri }}?page=1&sort={{sort}} ">{{ icon("arrow-up fa-2x")}}</a></p>
                <hr>
                <a href="?page=1">
                    <p align=center>{{ icon("angle-double-left fa-3x")}}</a></p>
                <hr>
                <span class="step-links">
                    {% if pagelist.has_previous() %}
                        <a href="?page={{ pagelist.previous_page_number() }}&sort={{sort}}">
                        <p align=center>{{ icon("angle-left fa-3x")}}</a></p>
                    {% else %}
                            <p align=center><img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/></p>
                    {% endif %}
                <hr><center>
                    <form action="?" method="GET">
                        <input type="hidden" id="sort" name="sort" value="{{sort}}">
                    Page<br>
                        <select name="page" onchange='this.form.submit()'>
                            {% for pagecnt in page_cnt %}
                                {% set current_page = pagecnt %}
                                <option value="{{pagecnt}}" {% if pagecnt == pagelist.number %}selected{% endif %}>{{pagecnt}}</option>
                            {% endfor %}
                        </select><br>
                        of {{ pagelist.paginator.num_pages }}.
                    </form></center>
                <hr>

                    {% if pagelist.has_next() %}
                        <a href="?page={{ pagelist.next_page_number() }}&sort={{sort}}">
                        <p align=center>{{ icon("angle-right fa-3x")}}</a></p>
                    {% else %}
                            <img width="75%" height="75%" src="/resources/images/gtk_media_empty.png"/>
                    {% endif %}
                <hr>

                <a href="?page={{ pagelist.paginator.num_pages }}&sort={{sort}}">
                        <p align=center>{{ icon("angle-double-right fa-3x")}}</a></p>
                </span>
                <hr>
                    <form action="" method="GET">
                        <input type="hidden" id="page" name="page" value="{{current_page}}">
                        <select name="sort" onchange='this.form.submit()'>
                            <option value="0" {% if sort == 0 %}selected{% endif %}>A..Z</option>
                            <option value="1" {% if sort == 1 %}selected{% endif %}>LastM</option>
                            <option value="2" {% if sort == 2 %}selected{% endif %}>CTime</option>
                        </select>
                    </form>
                <hr>
        </div>    <!--         Sidebar -->


        <div class="column is-12">  <!-- Folder Navigation & Breadcrumbs -->
            <div class="columns is-mobile is-centered is-gapless">
                <div class="column is-2"></div>
                <div class="column is-one-third has-text-centered">
                   <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                        <ul>
                        {% for name, url, link in breadcrumbs %}
                            <li><a href='{{url}}'>{{name}}</a></li>
                        {% endfor %}
                        <li class="is-active">{{ gallery_name|wordwrap(width=50,break_long_words=True) }}</li>
                        </ul>
                   </nav>
                </div>
                <div class="column is-one-third has-text-centered">
                        {% if prev_uri not in ["", None] %}
                            <a href="{{ prev_uri }}?sort={{sort}}">
                                {{ icon("angle-left fa-1x")}}
                                {{ prev_uri[:30]|wordwrap(width=25,break_long_words=True) }}</a>
                        {% endif %}
                </div>
                <div class="column is-one-third has-text-centered">
                        {% if next_uri not in ["", None] %}
                            <a href="{{ next_uri }}?sort={{sort}}">
                            {{ icon("angle-right fa-1x")}}
                            {{ next_uri[:30]|wordwrap(width=25,break_long_words=True)  }}</a>
                        {% endif %}
                </div>
            </div><!-- Folder Navigation & Breadcrumbs -->


            <div class="columns is-mobile is-gapless is-centered has-text-centered"  style="margin-bottom:1px;margin-top:1px;">
                <div class="column is-1">
                </div>
                <div class="column is-11 is-narrow is-gapless" style="border:1px solid black;margin-bottom:1px;margin-top:1px;"">
                    <div class="columns is-mobile  is-multiline is-gapless is-centered has-text-centered"  style="margin-bottom:1px;margin-top:1px;">
                        {%- for item in pagelist -%}
                            <div class="column is-one-third" style="border:1px solid black;background-color:#{{item.filetype.color}};">
                                <b>{{ loop.index }}</b> <br>
        <!--    Setup the color for the item box and hyperlink into the box -->
                                <a href="{{item.get_view_url()}}?sort={{sort}}" class="thumbnail" style="background-color:#{{item.get_bg_color()}};" defer>

        <!--    The Item title           -->
                                {{ item.name|wordwrap(width=24, break_long_words=True)}} <br>

        <!--    Display the thumbnail           -->
                                <img loading='lazy' src="{{item.get_thumbnail_url()}}" class="img-responsive" style="width:auto;max-width:100%"/>

                                </a>
                                {% if debug %}
                                    <br>
                                    {{ item.get_view_url() }}
                                        {% if item.filetype.is_dir %}
                                            <a href="{{ url('thumbnailspath') }}{{ item.uuid }}?size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                        {% elif item.filetype.is_pdf %}
                                            <a href="{{ url('thumbnailspath') }}{{ item.uuid }}?pdf&size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                        {% elif item.filetype.is_archive %}
                                            <a href="{{ url('thumbnailspath') }}{{ item.uuid }}?arch=0&size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                        {% elif item.filetype.is_image  or item.filetype.is_movie %}
                                            <a href="{{ url('thumbnailspath') }}{{ item.uuid }}?size=small" class="img-responsive" style="width:auto;max-width:100%"/>
                                        {% else %}
                                            <a href="/resources/images/{{ item.filetype.icon_filename }}" class="img-responsive" style="width:auto;max-width:100%"/>
                                        {% endif -%}
                                        <sub>{{ url('thumbnailspath') }}{{ item.uuid }}</sub>
                                        </a>
                                {% endif %}
                                <div class="column is-12 has-text-centered is-vcentered">
                                        {%- if item.filetype.is_animated -%}<tr><td colspan=2><b>Animated</b></td></tr>{%- endif %}
                                </div>

                                <div class="columns is-mobile is-gapless is-multiline" style="margin-left:8px;margin-right:8px">
                                    <div class="column is-6 " style="text-align:left;">
                                            {% if item.numdirs not in [0, None, "", -1]  %}
                                            <font class="is-size-7">
                                                <b># of Dirs:</b>
                                                <font class="is-size-6">{{ item.numdirs | intcomma }}
                                                </font>
                                                </font>
                                            {% endif %}
                                    </div>
                                    <div class="column is-6" style="text-align:right;">
                                            {% if item.numfiles not in [0, None, "", -1]  %}
                                            <font class="is-size-7">
                                                <b># of Files:</b>
                                                <font class="is-size-6">{{ item.numfiles | intcomma }}
                                                </font>
                                            </font>
                                            {% endif %}
                                    </div>
                                    <div class="column is-6" style="text-align:left;">
                                            <b class="is-size-7">Last Modified:</b> <br>
                                            <font class="is-size-7">{{ fromtimestamp( item.lastmod).strftime("%m/%d/%y %H:%M") }}</font>
                                    </div>
                                    <div class="column is-6 is-vcentered" style="text-align:right;padding:10px;">
                                        <a href="{{item.get_view_url()}}?sort={{sort}}" target="_blank">
                                            {{ icon("external-link-alt fa-2x") }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    {% for missing_uri in missing %}
        <link rel="preload" href={{ missing_uri}} as="image">
    {% endfor %}

{% endautoescape %}

</body>
</html>
