<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/resources/images/open_folder_yellow.png" >
    <link rel="preload" href="{{bulma_uri}}" as="style" >
    <link rel="preload" href="{{fontawesome_uri}}" as="style">

    <link rel="stylesheet" href="{{bulma_uri}}" defer>
    <link rel="stylesheet" href="{{fontawesome_uri}}" defer>

    <script src="{{django_htmx_uri}}"> </script>
    {{ django_htmx_script() }}
    
    <title hx-boost="true">{% block title %} {{ filename }} {% endblock %}</title>
</head>
<body>
    {% include 'frontend/gallery_htmx_partial.jinja' %}    
</body>
</html>
