<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/resources/images/open_folder_yellow.png">

    <!-- Preload critical resources -->
    <link rel="preload" href="/resources/css/bulma.min.css" as="style">
    <link rel="preload" href="/resources/css/all.min.css" as="style">
    <link rel="preload" href="/resources/javascript/htmx.min.js" as="script">
    <link rel="preload" href="/resources/css/quickbbs-optimized.css" as="style">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/resources/css/bulma.min.css">
    <link rel="stylesheet" href="/resources/css/all.min.css">
    <link rel="stylesheet" href="/resources/css/quickbbs-optimized.css">

    <!-- HTMX -->
    <script src="/resources/javascript/htmx.min.js" defer></script>
    {{ django_htmx_script() }}

    <!-- Custom JavaScript -->
    <script src="/resources/javascript/quickbbs-optimized.js?v=2" defer></script>

    <title>{% block title %}{{ gallery_name }}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
</head>
<body{% block body_attrs %}{% endblock %}>
    {% block content %}{% endblock %}
    {% include 'components/error_modal.jinja' %}
</body>
</html>