{% extends "gallery_base.html" %}

{% block debug %}
    generator.document.write('Debug Information<p>');
    generator.document.write('<p>');
    generator.document.write('Is Mobile - {{ mobile }}<p>' );
    generator.document.write('fq_directory - {{ fq_directory }}<p>' );
    generator.document.write('fq_filename - {{ fq_filename }}<p>' );
    generator.document.write('thumbnail path - {{ thumbnail_path }}<p>' );
    generator.document.write('web path - {{ web_path }}<p>' );
    generator.document.write('current_url - {{ current_url }}<p>' );
    generator.document.write('parent directory - {{ parent_directory }}<p>' );

    generator.document.write('Directory Navigation');
    generator.document.write('<ul>');
    {% for x in dir_nav %}
        generator.document.write('<li>{{ x }} - {{ dir_nav[x] }}</li>\n');
    {% endfor %}
    generator.document.write('</ul><hr>');

    generator.document.write('Sidebar');
    generator.document.write('<ul>');
    {% for x in sidebar %}
        generator.document.write('<li>{{ x }} - {{ sidebar[x] }}</li>\n');
    {% endfor %}
    generator.document.write('</ul><hr>');

    generator.document.write('Gallery');
    generator.document.write('<ul>');
    {% for x in gallery %}
        generator.document.write('<li>{{ x }} - {{ gallery[x] }}</li>\n');
    {% endfor %}
    generator.document.write('</ul><hr>');

    generator.document.write('Gallery');
    generator.document.write('<ul>');
    {% for x in gallery %}
        generator.document.write('<li>{{ x }} - {{ gallery[x] }}</li>\n');
    {% endfor %}
    generator.document.write('</ul><hr>');

{% endblock debug %}

{% block sidebar %}
<script type="text/javascript">
function navigateTo(sel, target, newWindow) {
    var url = sel.options[sel.selectedIndex].value;
    if (newWindow) {
        window.open(url, target, '--- attributes here, see below ---');
    } else {
        window[target].location.href = url;
    }
}
</script>

<!-- Side Bar -->
    <style>
    .affix-top, .affix-bottom,.affix{
        position: fixed;
        left:5px;
    }

      #sidebar.affix {
        position: fixed;
        top:70px;
        left:0px;
        width:55px;
      }
    }
    </style>
    <div data-spy="affix" data-offset-top="25" data-offset-bottom="25" style="background:#CCCCFF;">
        <div class="container" style="width:55px;padding:1px;border:1px solid #2266AA;">
                    <center>
                    {% if gallery['current_url'] != "albums/" %}
                        <a href="{{ sidebar['parent_directory'] }}">
                            <!--  Go to Parent            -->
                            <img width="65%" height="65%" src="/images/go_up2.png">
                        </a>
                    {% else %}
                        <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                    {% endif %}
                    <hr>
                    {% if gallery["current_subitem"] != 1 %}
                            <!--  Go to First Item / Directory        -->
                        <a href="{{ web_path }}{{ gallery["current_page"]}}/{{gallery["current_item"]}}/1">
                            <img width="65%" height="65%" src="/images/gtk_media_next_rtl.png"/></a>
                    {% else %}
                            <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                    {% endif %}
                    <hr>
                    {% if sidebar['prev_page_url'] != None %}
                        {% if gallery["current_subitem"] != 1 %}
                            <!--  Go to Preview Item / Directory        -->
                            <a href="{{ sidebar['prev_page_url'] }}">
                                <img width="65%" height="65%" src="/images/gtk_media_rev_ltr.png"/></a>
                        {% else %}
                                <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                        {% endif %}
                    {% endif %}
                    <hr>
                    Page<br>
                        <select onchange="navigateTo(this, 'window', false);">
                            {% for page_number in range(1, 1 + sidebar["full_archive_list"]|count ): %}
                                {% if page_number == gallery["current_subitem"] %}
                                    <option selected="selected" value="{{ sidebar['full_archive_list'][page_number-1][0] }}">{{ page_number }}</option>
                                {% else %}
                                    <option value="{{ sidebar['full_archive_list'][page_number-1][0] }}">{{ page_number }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                    <br>
                    of<br>
                    {{ sidebar["page_count"] }}<br>
    </noscript><input type="submit" value="Go"></noscript>
    <p>
                    </form>
                    <hr>
                        {% if sidebar["next_page_url"] != None %}
                            <!--  Go to Next Item / Directory        -->
                        <a href="{{ sidebar['next_page_url'] }}">
                            <img width="65%" height="65%" src="/images/gtk_media_play_ltr.png"/></a>
                        {% else %}
                            <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                        {% endif %}
                    <hr>
                        {% if sidebar["next_page_url"] != None %}
                        <a href="{{ sidebar['next_page_url'] }}" target="_blank">
                            <img width="65%" height="65%" src="/images/gtk_media_play+_ltr.png"/></a>
                        {% else %}
                            <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                        {% endif %}
                    <hr>
                    {% if gallery["current_subitem"] != sidebar["item_count"] %}
                    b
                        <a href="/{{ sidebar["last_item_uri"] }}">
                            <img width="65%" height="65%" src="/images/gtk_media_next_ltr.png"/></a>
                    {% else %}
                            <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                    {% endif %}
                    <hr>
                    <P>
                    Sorting
                    <form action="{{ gallery['current_url'] }}?gallery">
                        <select name="sort" onchange='this.form.submit()'>
                                {% if sort_order == 0 %}
                                    <option value=0 selected>A..Z</option>
                                {% else %}
                                    <option value=0>A..Z</option>
                                {% endif %}
                                {% if sort_order == 1 %}
                                    <option value=1 selected>LastM</option>
                                {% else %}
                                    <option value=1>LastM</option>
                                {% endif %}
                                {% if sort_order ==2 %}
                                    <option value=2 selected>CTime</option>
                                {% else %}
                                    <option value=2>CTime</option>
                                {% endif %}
                        </select>
                    </center>
        </div>
    </div>

    <script type="text/javascript">
    $('#myAffix').affix({
      offset: {
        top: 100,
        bottom: function () {
          return (this.bottom = $('.footer').outerHeight(true))
        }
      }
    })
    </script>
{% endblock sidebar %}

{% block body %}
bgcolor='#CCCCFF' border=4
{% endblock body %}

<!-- Grid -->
{% block grid %}
<div class="container-fluid" style="margin-left: 55px;border: 0px solid;background:#CCCCFF;">
    <table border=0 align=center width="100%" style="height:100%;" bgcolor='#00CCFF'>
        <tr>
            <td align=center width="100%" height="100%">

                            {% for x in dir_nav["breadcrumbs"] %}
                                {{ x }} &#8594;
                            {% endfor %}
            </td>
        </TR>
    </table>
</div>
<div class="container-fluid" style="margin-left: 55px;border: 1px solid;width=100%;background:#b0e2ff;">
<center>
</center>
{% set filename = archive_listings[0][0] %}
{% set file_extension = archive_listings[0][1] %}
<div class="row">
                {% if file_extension in filetypes %}
                    <div class="thumbnail" style="background:#{{ filetypes[file_extension][0] }};border:1px solid black;">
                {% else %}
                    <div class="thumbnail" style="background:#BBBBBB;border:2px solid red;">
                {% endif %}
                    <center>
<br>
                    <!-- hyperlink -->
                        {{ filename | wordwrap(width=gallery['textwrap'], wrapstring='<br>') }}
                            <br>
                    <!-- thumbnail -->
                        {% if mobile %}
                            <img src="{{ thumbnail_path }}{{ filename }}{{ gallery['mobile'] }}" style="max-width:auto;max-height:100%"/>
                        {% else %}
                            <img src="{{ thumbnail_path }}{{ filename }}{{ gallery['large'] }}" style="max-width:auto;max-height:100%"/>
                        {% endif %}
                        <br>
                <a href="{{ web_path }}{{ dlisting[0] }}">
                    <img src="/images/down.png" align="right" height="5%" width="5%">
                </a>
                <br>
                        <P>&nbsp;
                    </center>
</div>
{% endblock grid %}

