<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

{#

Template Variables:
  username

#}


<head>
  <title> {% block title %} Title {% endblock %} </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="/css/muet.css" />

  {#
    JQuery is necessary to get bootstraps transitions, and collapse
  #}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Gallery</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="#navitem1">NavItem1</a></li>
          <li class=""><a href="#navitem2">NavItem2</a></li>
        </ul>

        <p class="navbar-text pull-right">
          {% if username %}
          Logged in as <strong>{{ username }}</strong>.
          <a data-method="delete" href="/logout" rel="nofollow">Log Out</a>
          {% else %}
          <a data-method="delete" href="/login" rel="nofollow">Log In</a>
          {% endif %}
        </p>

      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}

    The content goes here

    {% endblock content %}
  </div>

  <footer>
    <div class="container">
      {% block footer %}
      Footer goes here
      {% endblock footer %}
    </div>
  </footer>
</body>

</html>


