{% extends "gallery_base.html" %}

{% block title %}
    {{ dir_nav["title"] }}
{% endblock title %}

{% if debug %}
    {% block debug %}
        generator.document.write('Debug Information<p>');
        generator.document.write('<p>');
        generator.document.write('Is Mobile - {{ mobile }}<p>' );
        generator.document.write('fq_directory - {{ fq_directory }}<p>' );
        generator.document.write('fq_filename - {{ fq_filename }}<p>' );
        generator.document.write('thumbnail path - {{ thumbnail_path }}<p>' );
        generator.document.write('web path - {{ web_path }}<p>' );
        generator.document.write('current_url - {{ current_url }}<p>' );
        generator.document.write('parent directory - {{ parent_directory }}<p>' );

        generator.document.write('Directory Navigation');
        generator.document.write('<ul>');
        {% for x in dir_nav %}
            generator.document.write('<li>{{ x }} - {{ dir_nav[x] }}</li>\n');
        {% endfor %}
        generator.document.write('</ul><hr>');

        generator.document.write('Sidebar');
        generator.document.write('<ul>');
        {% for x in sidebar %}
            generator.document.write('<li>{{ x }} - {{ sidebar[x] }}</li>\n');
        {% endfor %}
        generator.document.write('</ul><hr>');

        generator.document.write('Gallery');
        generator.document.write('<ul>');
        {% for x in gallery %}
            generator.document.write('<li>{{ x }} - {{ gallery[x] }}</li>\n');
        {% endfor %}
        generator.document.write('</ul><hr>');

        generator.document.write('Gallery');
        generator.document.write('<ul>');
        {% for x in gallery %}
            generator.document.write('<li>{{ x }} - {{ gallery[x] }}</li>\n');
        {% endfor %}
        generator.document.write('</ul><hr>');
    {% endblock debug %}
{% endif %}

{% block sidebar %}
<script type="text/javascript">
function navigateTo(sel, target, newWindow) {
    var url = sel.options[sel.selectedIndex].value;
    if (newWindow) {
        window.open(url, target, '--- attributes here, see below ---');
    } else {
        window[target].location.href = url;
    }
}
</script>

<!-- Side Bar -->
    <style>
    .affix-top, .affix-bottom,.affix{
        position: fixed;
        left:5px;
    }

      #sidebar.affix {
        position: fixed;
        top:70px;
        left:0px;
        width:55px;
      }
    }
    </style>
    <div data-spy="affix" data-offset-top="25" data-offset-bottom="25" style="background:#CCCCFF;">
        <div class="container" style="width:55px;padding:1px;border:1px solid #2266AA;">
                    <center>
                    {% if gallery['current_url'] != "albums/" %}
                        <a href="{{ sidebar['parent_directory'] }}">
                            <img width="65%" height="65%" src="/images/go_up2.png">
                        </a>
                    {% else %}
                        <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                    {% endif %}
                    <hr>
                    {% if gallery["current_page"] != 1 %}
                        <a href="{{ web_path }}1">
                            <img width="65%" height="65%" src="/images/gtk_media_next_rtl.png"/></a>
                    {% else %}
                            <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                    {% endif %}
                    <hr>
                    {% if sidebar['prev_page_url'] != None %}
                        <a href="{{ sidebar['prev_page_url'] }}">
                            <img width="65%" height="65%" src="/images/gtk_media_rev_ltr.png"/></a>
                    {% else %}
                            <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                    {% endif %}

                    <hr>
                    Page<br>
                        <select onchange="navigateTo(this, 'window', false);">
                            {% for page_number in sidebar["page_count_loop"]: %}
                                {% if page_number == gallery["current_page"] %}
                                    <option selected="selected" value="{{ web_path }}{{ page_number }}">{{ page_number }}</option>
                                {% else %}
                                    <option value="{{ web_path }}{{ page_number }}">{{ page_number }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                    <br>
                    of<br>
                    {{ sidebar["page_count"] }}<br>
    </noscript><input type="submit" value="Go"></noscript>
    <p>
                    </form>
                    <hr>
                        {% if sidebar["next_page_url"] != None %}
                        <a href="{{ sidebar['next_page_url'] }}">
                            <img width="65%" height="65%" src="/images/gtk_media_play_ltr.png"/></a>
                        {% else %}
                            <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                        {% endif %}
                    <hr>
                    {% if gallery["current_page"] != sidebar["page_count"] %}
                        <a href="{{ web_path }}{{ sidebar['page_count'] }}">
                            <img width="65%" height="65%" src="/images/gtk_media_next_ltr.png"/></a>
                    {% else %}
                            <img width="65%" height="65%" src="/images/gtk_media_empty.png"/></a>
                    {% endif %}
                    <hr>
                    <P>
                    Sorting<p>
                    <form action="{{ gallery['current_url'] }}?gallery">
                        <select name="sort" onchange='this.form.submit()'>
                                {% if sort_order == 0 %}
                                    <option value=0 selected>A..Z</option>
                                {% else %}
                                    <option value=0>A..Z</option>
                                {% endif %}
                                {% if sort_order == 1 %}
                                    <option value=1 selected>LastM</option>
                                {% else %}
                                    <option value=1>LastM</option>
                                {% endif %}
                                {% if sort_order ==2 %}
                                    <option value=2 selected>CTime</option>
                                {% else %}
                                    <option value=2>CTime</option>
                                {% endif %}
                        </select>
                    </center>
        </div>
    </div>

    <script type="text/javascript">
    $('#myAffix').affix({
      offset: {
        top: 100,
        bottom: function () {
          return (this.bottom = $('.footer').outerHeight(true))
        }
      }
    })
    </script>
{% endblock sidebar %}

{% block body %}
bgcolor='#CCCCFF' border=4
{% endblock body %}

<!-- Grid -->
{% block grid %}

<div class="container-fluid" style="margin-left: 65px;border: 0px solid;background:#CCCCFF;">
    <table border=0 align=center width="100%" style="height:100%;" bgcolor='#00CCFF'>
        <tr>
            <td align=center width="100%" height="100%">

                <table border=0 width="100%" bgcolor='#CCCCFF'>
                    <tr>
                        <td align="left" width="25%" bgcolor='#CCCCFF'>
                            {% if dir_nav["prev_dir_url"] != None %}
                                <a href="{{ dir_nav["prev_dir_url"] }}">
                                    {{ dir_nav["prev_dir_desc"] | wordwrap(width=gallery['textwrap']+15, wrapstring="<br>") }}
                                </a>
                            {% endif %}
                        </td>
                        <td align="center" bgcolor='#CCCCFF'>
                            {% for x in dir_nav["breadcrumbs"] %}
                                {{ x }} &#8594;
                            {% endfor %}
                        </td>
                        <td align="right"  width="25%" bgcolor='#CCCCFF'>
                            {% if dir_nav["next_dir_url"] != None %}
                                <a href="{{ dir_nav["next_dir_url"] }}">{{ dir_nav["next_dir_desc"] | wordwrap(width=gallery['textwrap']+15, wrapstring="<br>")}}</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
        </TR>
    </table>
</div>
<div class="container-fluid" style="margin-left: 55px;border: 1px solid;width=100%;background:#b0e2ff;">
<center>
</center>
{% for item_row in dlisting | batch(3, ' &nbsp;') %}
<div class="row">
    {% set outer_loop = loop %}
    {% for item in item_row %}
        <div class="col-xs-6 col-sm-4">
            {% if not item == ' &nbsp;' %}
                {% if item[1].file_extension in filetypes %}
                    <div class="thumbnail" style="background:#{{ filetypes[item[1].file_extension][0] }};border:1px solid black;">
                {% else %}
                <div class="thumbnail" style="background:#BBBBBB;border:2px solid red;">
                {% endif %}
                    <center>
                    {% if outer_loop.index > 1 %}
                        {% set index = loop.index + 3 *(outer_loop.index-1) %}
                    {% else %}
                        {% set index = loop.index %}
                    {% endif %}
                    {{ index }}<br>
                    <!-- hyperlink -->
                        <!-- DIR hyperlink -->
                        {% if item[1].file_extension == "dir" %}
                            <a href="{{ web_path }}{{ item[0] }}">
                                {{ item[0] | wordwrap(width=gallery['textwrap'], wrapstring="<br>") }}
                        <!-- Everything else hyperlink -->
                        {% else %}
                            <a href="{{ web_path }}{{ gallery["current_page"] }}/{{ index }}">
                            {{ item[0] | wordwrap(width=gallery['textwrap'], wrapstring='<br>') }}
                        {% endif %}
                                <br>

                    <!-- thumbnail -->
                        {% if item[1].file_extension in filetypes["archive_file_types"] %}
                            <!-- Archive file Thumbnail -->
                                <img class="lazy" src="/images/loading17.gif" data-src="{{ thumbnail_path }}{{ item[0] }}/{{ item[0] }}{{ gallery['small'] }}" width="auto" height="200px"/>
                        {% else %}
                            {% if item[1].file_extension == "dir" and item[1].number_files in [None, 0] %}
                                <!-- Directory Thumbnail w/o files in it -->
                                <img src="/images/folder.png" width="auto" height="200px"/>
                            {% else %}
                                <!-- Everything else -->
                                {% if filetypes[item[1].file_extension][1] == '' %}
                                    <!-- everything else Thumbnail -->
                                    <img class="lazy" src="/images/loading17.gif" data-src="{{ thumbnail_path }}{{ item[0] }}{{ gallery['small'] }}" width="auto" height="200px"/>
                                {% else %}
                                    <img class="lazy" src="/images/loading17.gif" data-src="{{ filetypes[item[1].file_extension][1] }}" width="auto" height="200px"/>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                            </a>
                        {% if item[1].file_extension == "dir" %}
                            <a href="{{ web_path }}{{ item[0] }}" target="_blank">
                                <img src="/images/stock_new_window.png" align=right height="10%" width="10%">
                            </a>
                        <!-- Everything else hyperlink -->
                        {% else %}
                            <a href="{{ web_path }}{{ gallery["current_page"] }}/{{ index }}" target="_blank">
                                <img src="/images/stock_new_window.png" align=right height="10%" width="10%">
                            </a>
                        {% endif %}
                        <P>
                        {% if not (item[1].number_dirs in [None, 0]) %}
                            # of Directories: {{ item[1].number_dirs }}<br>
                        {% endif %}
                        {% if not (item[1].number_files in [None, 0]) %}
                            # of Files: {{ item[1].number_files }}<br>
                        {% endif %}
                        Last Modified - {{ item[1].human_st_mtime }}
                        {% if not item[1].file_extension == "dir" %}
                            <br>File Size -  {{ item[1].st.st_size }}
                        {% endif %}


                    </center>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{%endfor %}

<script>
jQuery(document).ready(function() {
    jQuery("img.lazy").lazy({
        delay: 1000,
        threshold: 200,
        combined: true

    });
});
</script>
{% endblock grid %}

