{% extends "base.html" %}

{% block content %}

<h2>Index Page</h2>

<style>
.affix-top, .affix-bottom,.affix{
	position: fixed;
    left:5px;
}

  #sidebar.affix {
    position: fixed;
    top:70px;
    left:0px;
    width:100px;
  }
}
</style>

<p>
  This is the <tt>index.html</tt> template page.
</p>

<p>
  The current user is: <strong> {{ username }} </strong>.
</p>

<div data-spy="affix" data-offset-top="25" data-offset-bottom="25">
    <div class="container" style="width:50px;padding:1px;background:#FFFFFF;border:1px solid #2266AA;">
<!-- Side Bar -->
                <center>
                #if $web_pathname != "/albums/":
                    <a href="$parent_directory">
                        <img width="75%" height="75%" src="/images/go_up2.png">
                    </a>
                #else
                        <img width="75%" height="75%" src="/images/gtk_media_empty.png"/></a>
                #end if
                <hr>
                <a href="$first_page">
                    <img width="75%" height="75%" src="/images/gtk_media_next_rtl.png"/></a>
                <hr>
                #if $previous_page != None:
                    <a href="$previous_page">
                        <img width="75%" height="75%" src="/images/gtk_media_rev_ltr.png"/></a>
                #else
                        <img width="75%" height="75%" src="/images/gtk_media_empty.png"/></a>
                #end if
                <hr>
                Page<br>
                <form action="$web_path?gallery">
                    <select name="offset" onchange='this.form.submit()'>
                        #for page_number in $range(1,$total_pages+1)
                            #set poffset=($page_number-1) * $items_per_page
                            #if $page_number==$current_page
                            <option value=$poffset selected>$page_number</option>
                            #else
                            <option value=$poffset>$page_number</option>
                            #end if
                        #end for
                    </select>
                <br>
                of<br>
                $total_pages<br>
</noscript><input type="submit" value="Go"></noscript>
<p>
                </form>
                <hr>
                    #if $next_page != None:
                    <a href="$next_page">
                        <img width="75%" height="75%" src="/images/gtk_media_play_ltr.png"/></a>
                    #else
                        <img width="75%" height="75%" src="/images/gtk_media_empty.png"/></a>
                    #end if
                <hr>
                <a href="$last_page">
                    <img width="75%" height="75%" src="/images/gtk_media_next_ltr.png"/></a>
                <hr>
                <P>
                Sorting
                <form action="$web_path?gallery">
                    <select name="sort" onchange='this.form.submit()'>
                            #if $sort_type==0
                            <option value=0 selected>A..Z</option>
                            #else
                            <option value=0>A..Z</option>
                            #end if
                            #if $sort_type==2
                            <option value=2 selected>LastM</option>
                            #else
                            <option value=2>LastM</option>
                            #end if
                            #if $sort_type==4
                            <option value=4 selected>CTime</option>
                            #else
                            <option value=4>CTime</option>
                            #end if
                            
                    </select>
                <p>
                </center>
    </div>
</div>


<script type="text/javascript">
$('#myAffix').affix({
  offset: {
    top: 100,
    bottom: function () {
      return (this.bottom = $('.footer').outerHeight(true))
    }
  }
})
</script>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>    
    </div>

    <div class="row">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>    
    </div>

    <div class="row">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>    
    </div>


    <div class="row">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>    
    </div>


    <div class="row">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>    
    </div>

</div>
<div class="container-fluid" width="50%">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in quam nec ex maximus dictum ut et libero. Etiam iaculis luctus justo. Pellentesque consequat porttitor justo ut porta. Maecenas faucibus ante ut eleifend pharetra. Etiam sit amet lacus blandit, semper turpis sed, placerat eros. Vestibulum suscipit nunc mauris, ut scelerisque dui viverra sed. Ut placerat vitae augue ac viverra.
<p>
Quisque tristique dolor nec congue congue. Morbi nec tincidunt est. Vivamus tempus tempus diam, bibendum sollicitudin enim ornare in. Nulla ultrices feugiat ligula et elementum. Suspendisse luctus mauris sed facilisis scelerisque. Donec turpis velit, vestibulum in nisl vel, tincidunt condimentum risus. Fusce massa magna, maximus in elementum a, molestie vitae mi. Aliquam erat volutpat. Proin porttitor mollis justo, quis auctor metus fermentum in.
<p>
Nam tempus sapien at porttitor aliquam. Nunc sapien lorem, ullamcorper quis urna non, dignissim tempus sem. Sed odio libero, bibendum quis mauris id, vehicula pharetra ex. Duis molestie lorem in ornare consequat. Proin laoreet felis at risus feugiat ullamcorper. Quisque dictum aliquet urna, eu blandit nisl dapibus ac. In pretium suscipit turpis. Fusce risus lectus, volutpat in turpis eleifend, egestas porta tellus. Nullam sollicitudin lectus ac urna pulvinar, vel bibendum tortor pretium. Vivamus in risus sodales, vulputate felis a, hendrerit lorem. Vivamus volutpat, diam quis venenatis mollis, nisl nunc sagittis nibh, vitae maximus odio mauris a neque.
<p>
In hac habitasse platea dictumst. Integer et lacinia justo. Duis hendrerit libero at magna cursus, id suscipit mauris lacinia. Nam sed lorem in ante consectetur congue nec nec arcu. Sed nec nibh pharetra, blandit dolor vel, semper risus. Duis viverra quam ut libero tempus aliquet. Nunc tincidunt, nulla id ultricies mollis, ligula nunc eleifend quam, a rhoncus nibh leo sed dui. Morbi hendrerit sapien accumsan lorem tincidunt, et condimentum nisi laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dui nisi, congue non cursus ac, ultricies id risus.
<p>
Integer porttitor sed risus in vestibulum. Ut libero erat, ullamcorper id tincidunt eget, faucibus sed ligula. Duis auctor est et pharetra sodales. Nunc a nisl eleifend, feugiat enim vitae, imperdiet velit. Sed ac lobortis arcu, sit amet vestibulum velit. Quisque nec libero elit. Aliquam pulvinar varius ultrices. Duis suscipit congue metus. Nunc tempus dictum leo, ac tempor justo. Nulla facilisis ornare dolor in consequat. Aenean quam lectus, elementum sed nibh id, consequat pellentesque libero. Maecenas convallis faucibus blandit.
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in quam nec ex maximus dictum ut et libero. Etiam iaculis luctus justo. Pellentesque consequat porttitor justo ut porta. Maecenas faucibus ante ut eleifend pharetra. Etiam sit amet lacus blandit, semper turpis sed, placerat eros. Vestibulum suscipit nunc mauris, ut scelerisque dui viverra sed. Ut placerat vitae augue ac viverra.
<p>
Quisque tristique dolor nec congue congue. Morbi nec tincidunt est. Vivamus tempus tempus diam, bibendum sollicitudin enim ornare in. Nulla ultrices feugiat ligula et elementum. Suspendisse luctus mauris sed facilisis scelerisque. Donec turpis velit, vestibulum in nisl vel, tincidunt condimentum risus. Fusce massa magna, maximus in elementum a, molestie vitae mi. Aliquam erat volutpat. Proin porttitor mollis justo, quis auctor metus fermentum in.
<p>
Nam tempus sapien at porttitor aliquam. Nunc sapien lorem, ullamcorper quis urna non, dignissim tempus sem. Sed odio libero, bibendum quis mauris id, vehicula pharetra ex. Duis molestie lorem in ornare consequat. Proin laoreet felis at risus feugiat ullamcorper. Quisque dictum aliquet urna, eu blandit nisl dapibus ac. In pretium suscipit turpis. Fusce risus lectus, volutpat in turpis eleifend, egestas porta tellus. Nullam sollicitudin lectus ac urna pulvinar, vel bibendum tortor pretium. Vivamus in risus sodales, vulputate felis a, hendrerit lorem. Vivamus volutpat, diam quis venenatis mollis, nisl nunc sagittis nibh, vitae maximus odio mauris a neque.
<p>
In hac habitasse platea dictumst. Integer et lacinia justo. Duis hendrerit libero at magna cursus, id suscipit mauris lacinia. Nam sed lorem in ante consectetur congue nec nec arcu. Sed nec nibh pharetra, blandit dolor vel, semper risus. Duis viverra quam ut libero tempus aliquet. Nunc tincidunt, nulla id ultricies mollis, ligula nunc eleifend quam, a rhoncus nibh leo sed dui. Morbi hendrerit sapien accumsan lorem tincidunt, et condimentum nisi laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dui nisi, congue non cursus ac, ultricies id risus.
<p>
Integer porttitor sed risus in vestibulum. Ut libero erat, ullamcorper id tincidunt eget, faucibus sed ligula. Duis auctor est et pharetra sodales. Nunc a nisl eleifend, feugiat enim vitae, imperdiet velit. Sed ac lobortis arcu, sit amet vestibulum velit. Quisque nec libero elit. Aliquam pulvinar varius ultrices. Duis suscipit congue metus. Nunc tempus dictum leo, ac tempor justo. Nulla facilisis ornare dolor in consequat. Aenean quam lectus, elementum sed nibh id, consequat pellentesque libero. Maecenas convallis faucibus blandit.
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in quam nec ex maximus dictum ut et libero. Etiam iaculis luctus justo. Pellentesque consequat porttitor justo ut porta. Maecenas faucibus ante ut eleifend pharetra. Etiam sit amet lacus blandit, semper turpis sed, placerat eros. Vestibulum suscipit nunc mauris, ut scelerisque dui viverra sed. Ut placerat vitae augue ac viverra.
<p>
Quisque tristique dolor nec congue congue. Morbi nec tincidunt est. Vivamus tempus tempus diam, bibendum sollicitudin enim ornare in. Nulla ultrices feugiat ligula et elementum. Suspendisse luctus mauris sed facilisis scelerisque. Donec turpis velit, vestibulum in nisl vel, tincidunt condimentum risus. Fusce massa magna, maximus in elementum a, molestie vitae mi. Aliquam erat volutpat. Proin porttitor mollis justo, quis auctor metus fermentum in.
<p>
Nam tempus sapien at porttitor aliquam. Nunc sapien lorem, ullamcorper quis urna non, dignissim tempus sem. Sed odio libero, bibendum quis mauris id, vehicula pharetra ex. Duis molestie lorem in ornare consequat. Proin laoreet felis at risus feugiat ullamcorper. Quisque dictum aliquet urna, eu blandit nisl dapibus ac. In pretium suscipit turpis. Fusce risus lectus, volutpat in turpis eleifend, egestas porta tellus. Nullam sollicitudin lectus ac urna pulvinar, vel bibendum tortor pretium. Vivamus in risus sodales, vulputate felis a, hendrerit lorem. Vivamus volutpat, diam quis venenatis mollis, nisl nunc sagittis nibh, vitae maximus odio mauris a neque.
<p>
In hac habitasse platea dictumst. Integer et lacinia justo. Duis hendrerit libero at magna cursus, id suscipit mauris lacinia. Nam sed lorem in ante consectetur congue nec nec arcu. Sed nec nibh pharetra, blandit dolor vel, semper risus. Duis viverra quam ut libero tempus aliquet. Nunc tincidunt, nulla id ultricies mollis, ligula nunc eleifend quam, a rhoncus nibh leo sed dui. Morbi hendrerit sapien accumsan lorem tincidunt, et condimentum nisi laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dui nisi, congue non cursus ac, ultricies id risus.
<p>
Integer porttitor sed risus in vestibulum. Ut libero erat, ullamcorper id tincidunt eget, faucibus sed ligula. Duis auctor est et pharetra sodales. Nunc a nisl eleifend, feugiat enim vitae, imperdiet velit. Sed ac lobortis arcu, sit amet vestibulum velit. Quisque nec libero elit. Aliquam pulvinar varius ultrices. Duis suscipit congue metus. Nunc tempus dictum leo, ac tempor justo. Nulla facilisis ornare dolor in consequat. Aenean quam lectus, elementum sed nibh id, consequat pellentesque libero. Maecenas convallis faucibus blandit.
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in quam nec ex maximus dictum ut et libero. Etiam iaculis luctus justo. Pellentesque consequat porttitor justo ut porta. Maecenas faucibus ante ut eleifend pharetra. Etiam sit amet lacus blandit, semper turpis sed, placerat eros. Vestibulum suscipit nunc mauris, ut scelerisque dui viverra sed. Ut placerat vitae augue ac viverra.
<p>
Quisque tristique dolor nec congue congue. Morbi nec tincidunt est. Vivamus tempus tempus diam, bibendum sollicitudin enim ornare in. Nulla ultrices feugiat ligula et elementum. Suspendisse luctus mauris sed facilisis scelerisque. Donec turpis velit, vestibulum in nisl vel, tincidunt condimentum risus. Fusce massa magna, maximus in elementum a, molestie vitae mi. Aliquam erat volutpat. Proin porttitor mollis justo, quis auctor metus fermentum in.
<p>
Nam tempus sapien at porttitor aliquam. Nunc sapien lorem, ullamcorper quis urna non, dignissim tempus sem. Sed odio libero, bibendum quis mauris id, vehicula pharetra ex. Duis molestie lorem in ornare consequat. Proin laoreet felis at risus feugiat ullamcorper. Quisque dictum aliquet urna, eu blandit nisl dapibus ac. In pretium suscipit turpis. Fusce risus lectus, volutpat in turpis eleifend, egestas porta tellus. Nullam sollicitudin lectus ac urna pulvinar, vel bibendum tortor pretium. Vivamus in risus sodales, vulputate felis a, hendrerit lorem. Vivamus volutpat, diam quis venenatis mollis, nisl nunc sagittis nibh, vitae maximus odio mauris a neque.
<p>
In hac habitasse platea dictumst. Integer et lacinia justo. Duis hendrerit libero at magna cursus, id suscipit mauris lacinia. Nam sed lorem in ante consectetur congue nec nec arcu. Sed nec nibh pharetra, blandit dolor vel, semper risus. Duis viverra quam ut libero tempus aliquet. Nunc tincidunt, nulla id ultricies mollis, ligula nunc eleifend quam, a rhoncus nibh leo sed dui. Morbi hendrerit sapien accumsan lorem tincidunt, et condimentum nisi laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dui nisi, congue non cursus ac, ultricies id risus.
<p>
Integer porttitor sed risus in vestibulum. Ut libero erat, ullamcorper id tincidunt eget, faucibus sed ligula. Duis auctor est et pharetra sodales. Nunc a nisl eleifend, feugiat enim vitae, imperdiet velit. Sed ac lobortis arcu, sit amet vestibulum velit. Quisque nec libero elit. Aliquam pulvinar varius ultrices. Duis suscipit congue metus. Nunc tempus dictum leo, ac tempor justo. Nulla facilisis ornare dolor in consequat. Aenean quam lectus, elementum sed nibh id, consequat pellentesque libero. Maecenas convallis faucibus blandit.
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in quam nec ex maximus dictum ut et libero. Etiam iaculis luctus justo. Pellentesque consequat porttitor justo ut porta. Maecenas faucibus ante ut eleifend pharetra. Etiam sit amet lacus blandit, semper turpis sed, placerat eros. Vestibulum suscipit nunc mauris, ut scelerisque dui viverra sed. Ut placerat vitae augue ac viverra.
<p>
Quisque tristique dolor nec congue congue. Morbi nec tincidunt est. Vivamus tempus tempus diam, bibendum sollicitudin enim ornare in. Nulla ultrices feugiat ligula et elementum. Suspendisse luctus mauris sed facilisis scelerisque. Donec turpis velit, vestibulum in nisl vel, tincidunt condimentum risus. Fusce massa magna, maximus in elementum a, molestie vitae mi. Aliquam erat volutpat. Proin porttitor mollis justo, quis auctor metus fermentum in.
<p>
Nam tempus sapien at porttitor aliquam. Nunc sapien lorem, ullamcorper quis urna non, dignissim tempus sem. Sed odio libero, bibendum quis mauris id, vehicula pharetra ex. Duis molestie lorem in ornare consequat. Proin laoreet felis at risus feugiat ullamcorper. Quisque dictum aliquet urna, eu blandit nisl dapibus ac. In pretium suscipit turpis. Fusce risus lectus, volutpat in turpis eleifend, egestas porta tellus. Nullam sollicitudin lectus ac urna pulvinar, vel bibendum tortor pretium. Vivamus in risus sodales, vulputate felis a, hendrerit lorem. Vivamus volutpat, diam quis venenatis mollis, nisl nunc sagittis nibh, vitae maximus odio mauris a neque.
<p>
In hac habitasse platea dictumst. Integer et lacinia justo. Duis hendrerit libero at magna cursus, id suscipit mauris lacinia. Nam sed lorem in ante consectetur congue nec nec arcu. Sed nec nibh pharetra, blandit dolor vel, semper risus. Duis viverra quam ut libero tempus aliquet. Nunc tincidunt, nulla id ultricies mollis, ligula nunc eleifend quam, a rhoncus nibh leo sed dui. Morbi hendrerit sapien accumsan lorem tincidunt, et condimentum nisi laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dui nisi, congue non cursus ac, ultricies id risus.
<p>
Integer porttitor sed risus in vestibulum. Ut libero erat, ullamcorper id tincidunt eget, faucibus sed ligula. Duis auctor est et pharetra sodales. Nunc a nisl eleifend, feugiat enim vitae, imperdiet velit. Sed ac lobortis arcu, sit amet vestibulum velit. Quisque nec libero elit. Aliquam pulvinar varius ultrices. Duis suscipit congue metus. Nunc tempus dictum leo, ac tempor justo. Nulla facilisis ornare dolor in consequat. Aenean quam lectus, elementum sed nibh id, consequat pellentesque libero. Maecenas convallis faucibus blandit.
<p>
Integer porttitor sed risus in vestibulum. Ut libero erat, ullamcorper id tincidunt eget, faucibus sed ligula. Duis auctor est et pharetra sodales. Nunc a nisl eleifend, feugiat enim vitae, imperdiet velit. Sed ac lobortis arcu, sit amet vestibulum velit. Quisque nec libero elit. Aliquam pulvinar varius ultrices. Duis suscipit congue metus. Nunc tempus dictum leo, ac tempor justo. Nulla facilisis ornare dolor in consequat. Aenean quam lectus, elementum sed nibh id, consequat pellentesque libero. Maecenas convallis faucibus blandit.
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in quam nec ex maximus dictum ut et libero. Etiam iaculis luctus justo. Pellentesque consequat porttitor justo ut porta. Maecenas faucibus ante ut eleifend pharetra. Etiam sit amet lacus blandit, semper turpis sed, placerat eros. Vestibulum suscipit nunc mauris, ut scelerisque dui viverra sed. Ut placerat vitae augue ac viverra.
<p>
Quisque tristique dolor nec congue congue. Morbi nec tincidunt est. Vivamus tempus tempus diam, bibendum sollicitudin enim ornare in. Nulla ultrices feugiat ligula et elementum. Suspendisse luctus mauris sed facilisis scelerisque. Donec turpis velit, vestibulum in nisl vel, tincidunt condimentum risus. Fusce massa magna, maximus in elementum a, molestie vitae mi. Aliquam erat volutpat. Proin porttitor mollis justo, quis auctor metus fermentum in.
<p>
Nam tempus sapien at porttitor aliquam. Nunc sapien lorem, ullamcorper quis urna non, dignissim tempus sem. Sed odio libero, bibendum quis mauris id, vehicula pharetra ex. Duis molestie lorem in ornare consequat. Proin laoreet felis at risus feugiat ullamcorper. Quisque dictum aliquet urna, eu blandit nisl dapibus ac. In pretium suscipit turpis. Fusce risus lectus, volutpat in turpis eleifend, egestas porta tellus. Nullam sollicitudin lectus ac urna pulvinar, vel bibendum tortor pretium. Vivamus in risus sodales, vulputate felis a, hendrerit lorem. Vivamus volutpat, diam quis venenatis mollis, nisl nunc sagittis nibh, vitae maximus odio mauris a neque.
<p>
In hac habitasse platea dictumst. Integer et lacinia justo. Duis hendrerit libero at magna cursus, id suscipit mauris lacinia. Nam sed lorem in ante consectetur congue nec nec arcu. Sed nec nibh pharetra, blandit dolor vel, semper risus. Duis viverra quam ut libero tempus aliquet. Nunc tincidunt, nulla id ultricies mollis, ligula nunc eleifend quam, a rhoncus nibh leo sed dui. Morbi hendrerit sapien accumsan lorem tincidunt, et condimentum nisi laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dui nisi, congue non cursus ac, ultricies id risus.
<p>
Integer porttitor sed risus in vestibulum. Ut libero erat, ullamcorper id tincidunt eget, faucibus sed ligula. Duis auctor est et pharetra sodales. Nunc a nisl eleifend, feugiat enim vitae, imperdiet velit. Sed ac lobortis arcu, sit amet vestibulum velit. Quisque nec libero elit. Aliquam pulvinar varius ultrices. Duis suscipit congue metus. Nunc tempus dictum leo, ac tempor justo. Nulla facilisis ornare dolor in consequat. Aenean quam lectus, elementum sed nibh id, consequat pellentesque libero. Maecenas convallis faucibus blandit.
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in quam nec ex maximus dictum ut et libero. Etiam iaculis luctus justo. Pellentesque consequat porttitor justo ut porta. Maecenas faucibus ante ut eleifend pharetra. Etiam sit amet lacus blandit, semper turpis sed, placerat eros. Vestibulum suscipit nunc mauris, ut scelerisque dui viverra sed. Ut placerat vitae augue ac viverra.
<p>
Quisque tristique dolor nec congue congue. Morbi nec tincidunt est. Vivamus tempus tempus diam, bibendum sollicitudin enim ornare in. Nulla ultrices feugiat ligula et elementum. Suspendisse luctus mauris sed facilisis scelerisque. Donec turpis velit, vestibulum in nisl vel, tincidunt condimentum risus. Fusce massa magna, maximus in elementum a, molestie vitae mi. Aliquam erat volutpat. Proin porttitor mollis justo, quis auctor metus fermentum in.
<p>
Nam tempus sapien at porttitor aliquam. Nunc sapien lorem, ullamcorper quis urna non, dignissim tempus sem. Sed odio libero, bibendum quis mauris id, vehicula pharetra ex. Duis molestie lorem in ornare consequat. Proin laoreet felis at risus feugiat ullamcorper. Quisque dictum aliquet urna, eu blandit nisl dapibus ac. In pretium suscipit turpis. Fusce risus lectus, volutpat in turpis eleifend, egestas porta tellus. Nullam sollicitudin lectus ac urna pulvinar, vel bibendum tortor pretium. Vivamus in risus sodales, vulputate felis a, hendrerit lorem. Vivamus volutpat, diam quis venenatis mollis, nisl nunc sagittis nibh, vitae maximus odio mauris a neque.
<p>
In hac habitasse platea dictumst. Integer et lacinia justo. Duis hendrerit libero at magna cursus, id suscipit mauris lacinia. Nam sed lorem in ante consectetur congue nec nec arcu. Sed nec nibh pharetra, blandit dolor vel, semper risus. Duis viverra quam ut libero tempus aliquet. Nunc tincidunt, nulla id ultricies mollis, ligula nunc eleifend quam, a rhoncus nibh leo sed dui. Morbi hendrerit sapien accumsan lorem tincidunt, et condimentum nisi laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dui nisi, congue non cursus ac, ultricies id risus.
<p>
Integer porttitor sed risus in vestibulum. Ut libero erat, ullamcorper id tincidunt eget, faucibus sed ligula. Duis auctor est et pharetra sodales. Nunc a nisl eleifend, feugiat enim vitae, imperdiet velit. Sed ac lobortis arcu, sit amet vestibulum velit. Quisque nec libero elit. Aliquam pulvinar varius ultrices. Duis suscipit congue metus. Nunc tempus dictum leo, ac tempor justo. Nulla facilisis ornare dolor in consequat. Aenean quam lectus, elementum sed nibh id, consequat pellentesque libero. Maecenas convallis faucibus blandit.
<p>
</div>
{% endblock content %}

